---
import Layout from "../layouts/Layout.astro";
import Icons from "../components/Icons.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import MainContent from "../components/MainContent.astro";
---

<Layout title="弘前大学がんプロ | 養成コース">
    <main>
        <BreadCrumb />
        <div class="bg-primary cource-wrapper">
            <div class="cource-desc">
                <h2>養成コース</h2>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-title">
                            <h3>地域がん医療<br />次世代リーダー育成コース</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>【大学名等】</p>
                                <p>弘前大学大学大学院医学研究科</p>
                            </div>
                            <div>
                                <p>【教育プログラム・コース名】</p>
                                <p>
                                    地域がん医療次世代リーダー育成コース（正規課程）（テーマ①）
                                </p>
                            </div>
                            <div>
                                <p>【対象職種・分野】</p>
                                <p>
                                    医師・腫瘍内科、乳腺外科、婦人科、緩和医療他
                                </p>
                            </div>
                            <div>
                                <p>【修業年限（期間）】</p>
                                <p>４年</p>
                            </div>
                            <div class="card-link">
                                <a href="/cource/cource-1">履修要項</a>
                                <a href="/cource/cource-1">募集概要</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>
                                地域がん医療を推進する<br />
                                 次世代病理診断医育成コース
                            </h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>【大学名等】</p>
                                <p>弘前大学大学大学院医学研究科</p>
                            </div>
                            <div>
                                <p>【教育プログラム・コース名】</p>
                                <p>
                                    地域がん医療を推進する次世代病理診断医育成コース（正規課程）（テーマ①）
                                </p>
                            </div>
                            <div>
                                <p>【対象職種・分野】</p>
                                <p>医師・病理診断</p>
                            </div>
                            <div>
                                <p>【修業年限（期間）】</p>
                                <p>４年</p>
                            </div>
                            <div class="card-link">
                                <a href="/cource/cource-2">履修要項</a>
                                <a href="/cource/cource-2">募集概要</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>
                                地域がん医療を推進する<br
                                />次世代放射線治療医育成コース
                            </h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>【大学名等】</p>
                                <p>弘前大学大学大学院医学研究科</p>
                            </div>
                            <div>
                                <p>【教育プログラム・コース名】</p>
                                <p>
                                    地域がん医療を推進する次世代放射線治療医育成コース（正規課程）（テーマ①）
                                </p>
                            </div>
                            <div>
                                <p>【対象職種・分野】</p>
                                <p>医師・放射線治療</p>
                            </div>
                            <div>
                                <p>【修業年限（期間）】</p>
                                <p>4年</p>
                            </div>
                            <div class="card-link">
                                <a href="/cource/cource-3">履修要項</a>
                                <a href="/cource/cource-3">募集概要</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-primary repaet-image">
            <MainContent />
        </div>
    </main>
    <Icons />
</Layout>

<style lang="scss">
    .cource-desc {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6.12%;
        h2 {
            font-size: clamp(2rem, 1.171rem + 3.54vw, 4rem);
            font-weight: 300;
            text-align: center;
            color: var(--secondary-color);
            margin-bottom: 2%;
        }
        .card-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1%;
            @media (max-width: 768px) {
                flex-direction: row;
                gap: 2%;
            }
            .card {
                background-color: #fff;
                border-radius: 10px;
                flex: 1 1 300px;
                font-size: 14px;
                height: 100%;
                margin-bottom: 1%;
                .card-title {
                    background-color: var(--secondary-color);
                    color: #fff;
                    display: flex;
                    align-items: cetner;
                    justify-content: center;
                    flex-direction: column;
                    padding: 20px;
                    border-radius: 10px 10px 0 0;
                    h3 {
                        text-align: center;
                    }
                }
                .card-desc {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        p:nth-of-type(1) {
                            font-weight: 500;
                        }
                    }
                }
                a {
                    text-decoration: none;
                }
                img {
                    margin-bottom: 20px;
                }
                div {
                    display: flex;
                    row-gap: 16px;
                }
                @media (max-width: 768px) {
                    width: 48%;
                }
                .card-link {
                    display: flex;
                    flex-direction: row !important;
                    width: 100%;
                    gap: 20px !important;
                    margin-top: 20px;
                    justify-content: center;
                    a {
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-weight: 500;
                        text-decoration: none;
                        background-color: var(--font-color);
                        color: #fff;
                        width: 45%;
                        text-align: center;
                    }
                }
            }
        }
    }
</style>
