---
import Layout from "../layouts/Layout.astro";
import Icons from "../components/Icons.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import MainContent from "../components/MainContent.astro";
---

<Layout title="がんプロ | ごあいさつ">
    <main>
        <BreadCrumb />
        <div class="bg-primary greeting-wrapper">
            <div class="greeting-desc">
                <h2>ごあいさつ</h2>
                <div class="card">
                    <img src="" alt="" class="profile-image" />
                    <p class="profile-title"></p>
                    <h3 class="profile-name"></h3>
                    <p class="profile-desc"></p>
                </div>
                <ul>
                    <li><a href="#" data-profile="Hitora">研究科長</a></li>
                    <li><a href="#" data-profile="Sato">佐藤教授</a></li>
                    <li><a href="#" data-profile="Kurose">黒瀬教授</a></li>
                    <li><a href="#" data-profile="Aoki">青木教授</a></li>
                </ul>
            </div>
        </div>
    </main>
    <div class="bg-primary repaet-image">
        <MainContent />
    </div>
</Layout>
<Icons />

<style lang="scss">
    .greeting-desc {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6.12%;
        h2 {
            font-size: clamp(2rem, 1.171rem + 3.54vw, 4rem);
            font-weight: 300;
            text-align: center;
            color: var(--secondary-color);
            margin-bottom: 10%;
        }
        .card {
            max-width: 768px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            padding: 4rem;
            @media (max-width: 768px) {
                max-width: 425px;
                padding: 2rem;
            }
            border-radius: 10px;
            .profile-image {
                border-radius: 50%;
                margin-top: -20%;
                margin-bottom: 16px;
                @media (max-width: 768px) {
                    width: 60%;
                }
            }
            .profile-title {
                font-size: 12px;
                letter-spacing: 1.8px;
            }
            .profile-name {
                font-size: 26px;
                letter-spacing: 1.8px;
                margin-bottom: 24px;
            }
            .profile-desc {
                max-width: 765px;
                font-size: 16px;
                letter-spacing: 1.8px;
                @media (max-width: 768px) {
                    height: 250px;
                    overflow: scroll;
                }
            }
        }
        ul {
            margin: 24px 0 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            width: 425px;
            font-weight: 500;
            a {
                text-decoration: none;
                color: var(--secondary-color);
            }
            @media (max-width: 425px) {
                width: 100%;
            }
        }
    }
</style>
<script is:inline>
// プロファイルを定義
const profiles = {
    Hitora: {
        profileiImage: "/public/images/greeting/hirota.jpg",
        profileName: "廣田 和美",
        profileTitle: "大学院医学研究科長",
        profileDesc:
            "弘前大学は2007年から5年間、秋田大学、岩手医科大学、岩手県立大学とともに「北東北がんプロフェッショナル養成プラン」を推進し、がん治療に関する専門医およびコメディカルスタッフを育成してまいりました。2012年からは東京医科歯科大学を主管校とする「次世代がん治療推進専門家養成プラン」の中で、「地域がん専門医療人養成コース」をスタートさせ、外科腫瘍医、腫瘍内科医、放射線腫瘍医の養成に努めてまいりました。この10年間の取り組みによって、従来の診療科を横断する人材養成体制の構築と全国的ながん教育の均霑化が整備されてきました。2017年からは東京医科歯科大学を主管校とし８大学が連携する「未来がん医療プロフェッショナル養成プラン」の中で、3つのコース（地域がん医療推進のための未来リーダー育成コース、小児血液・がん専門医育成コース、地域がん医療スタッフ育成のためのコーディネーター養成コース）を担当しました。2023年からは東北大学を主幹とし６大学が連携する「東北広域次世代がんプロ養成プラン」の中で、３つのコース（地域がん医療次世代リーダー育成コース、地域がん医療を推進する次世代病理診断医育成コース、地域がん医療を推進する次世代放射線治療医育成コース）を担当します。",
    },
    Sato: {
        profileiImage: "/public/images/greeting/sato.jpg",
        profileName: "佐藤 温",
        profileTitle: "地域がん医療次世代リーダー育成コース責任者",
        profileDesc:
            "青森県は人口減・高齢化、そして若年層を含めたがん死亡率が最も高い地域です。しかし、これは本県だけが抱える問題ではありません。人口減・高齢化は今後の日本が抱える大きな問題であり、本県は日本の将来の最先端を走っている状況とも言えます。だからこそ、その対策を打ち出すモデル地区となることができるのです。地域におけるがん医療が抱える問題を解決するためには、がんに関わるすべての医療従事者の連携システムの構築と教育、そしてすべての世代の地域住民に対する教育が必要となります。その解決策として弘前大学では地域がん医療の向上を目的とした本コースを設けました。本コースは、がん専門医の習得のみならず、地域がん医療のリーダーとして、自ら地域がん医療の取り組むべき課題を抽出し、地域のリソース、需要を受け入れ、多職種連携によるチーム医療のネットワークを構築する等、次世代のがんに関わる医療人を育成することができる人材の養成を目標とします。医学研究科医科学専攻大学院生として4年間、予防医療からゲノム医療そして終末期医療までの幅広い臨床過程を患者/家族の視点からコーディネートできる人材育成を目指します。外科手術、放射線治療、薬物療法、緩和医療までの全般的な知識を連携大学間の共有講義、演習実習等で十分に学習できる教育体制を整備しております。病院としても、がんゲノム医療拠点病院としての強みを活かし、次世代のがん医療となるゲノム医療の最先端の知識を学び、さらに、放射線科、病理診断科の協働で定期開催されているキャンサーボードの参加等、実臨床において幅広い知識と技術を獲得することができます。そして、地域社会への還元のために、教育技法を学び、行政との連携、各種企画の立案から開催までを通して、多くの医療者らと顔が見える連携ができる、個々人の素質を活かしたプログラムです。特に、がん領域における薬物療法を専門とする医師は、その必要性とは真逆に青森県ではかなり少数のため、がんの患者家族からは切望されています。医師として、最新の科学知識の習得と実践とともに、深い人間愛が求められるこの領域において、臨床、研究そして教育で活躍できることは、望外な喜びとなるはずです。是非、ご参加ください。",
    },
    Kurose: {
        profileiImage: "/public/images/greeting/kurose.jpg",
        profileName: "黒瀬 顕",
        profileTitle:
            "地域がん医療を推進する次世代病理診断医育成コース責任者",
        profileDesc:
            "がん医療における病理医の役割には，病変の正確な診断は勿論，治療選択の上で重要になる様々な組織情報の提供，さらに新規治療法や治療薬による効果判定や副作用の解明等が挙げられます。腫瘍性病変の正確な診断のためには，今では病変の病理組織学的観察のみでは不十分であり，遺伝子をはじめとする様々な分子病理学的解析結果を加味した病診断が必須になってきました．本学病理診断科では最新のがん病理診断を行うために病理医に加えて分子病理学的解析を専門に行うスタッフを揃え，教室独自に専門性の高い解析を行い，組織診断に分子病理学的解析結果を加味して総合的な病理診断を行う体制を整えています．分子病理学的解析では免疫組織化学による変異蛋白の検出，組織切片を用いたFISH法やDNA抽出による遺伝子解析，新鮮検体からのRNAやDNAを用いた遺伝子解析を行っています．このように病理診断科独自で分子病理学的解析を行って病理診断に反映している施設は全国的にも稀であり，今後のがん治療を行う施設での病理診断科のモデルとなるでしょう．特に，術中迅速診断では病変の診断のみならず，腫瘍組織が得られていることを確認した後に分子病理学的解析のために凍結検体を保存することに力をいれています．このように解析検体の質を確保することも病理ならば出来ることなのです。また新規治療法や治療薬は，その効果のみならず，副作用をも組織学的に調べる事はいつの時代も重要であり，手術検体による検索や，不幸にして患者さんが亡くなった際には病理解剖をご家族にお願いし，それによって効果と副作用を調べ，得られた所見を蓄積して発表し，将来の治療に役立たせていくことも病理医の使命です。本学病理診断科では種々の腫瘍診断が治療法選択のために相応しい最新最善のものとなるように，分子病理学的検索を踏まえて病理診断を行っていることが最大の特徴です．このような環境で，一緒に病理組織を観察し，分子病理学的データを解析することで更に組織観察に意味を加え，医療に役立つ病理診断を目指して研鑽しましょう。",
    },
    Aoki: {
        profileiImage: "/public/images/greeting/aoki.jpg",
        profileName: "青木 昌彦",
        profileTitle:
            "地域がん医療を推進する次世代放射線治療医育成コース責任者",
        profileDesc:
            "弘前大学は2007年から5年間、秋田大学、岩手医科大学、岩手県立大学とともに「北東北がんプロフェッショナル養成プラン」を推進し、がん治療に関する専門医およびコメディカルスタッフを育成してまいりました。2012年からは東京医科歯科大学を主管校とする「次世代がん治療推進専門家養成プラン」の中で放射線療法は手術療法や化学療法と並ぶがんの三大療法のひとつです。放射線療法には外部照射、密封小線源、核医学治療など、様々な治療法があり、低侵襲であること、機能と形態の温存ができることが大きな特長です。また、すべての悪性腫瘍を対象としていること、根治から緩和まで幅広い適応があることも放射線療法の特長と言えます。近年では、放射線物理学の進歩により、定位放射線治療、強度変調放射線治療、画像誘導放射線治療など、超精密な放射線治療に加え、粒子線治療やホウ素中性子捕捉療法など、新しい治療法が開発され、放射線療法への期待が益々高まっています。また、放射線生物学の進歩により、標的細胞の受容体に結合するアミノ酸分子に放射性物質を結合させた放射性医薬品が次々と開発され、核医学治療も注目を集めています。このように、放射線治療には、様々な照射法があり、それらの武器を最大限に生かして、がんの治療を専門的に扱うのが放射線治療医です。放射線治療医のほかに、放射線治療の品質保証と精度管理を担当する医学物理士や放射線品質管理士、機器の操作を担当する診療放射線技師、患者さんのケアを担当する看護師、患者さんの受付や連絡をサポートする事務職など、様々な職種が放射線治療に関わっており、放射線治療医はそのチームの中心的役割を担っています。更に、高齢化率の上昇に伴い患者のQOLに重点を置いた治療方針が重要視される時代、放射線治療医の果たす役割はますます重要になっています。「地域がん医療を推進する次世代放射線治療医育成コース」では、がん医療の現場において、緩和的放射線治療から高精度放射線治療さらに核医学治療や小線源治療も含めた質の高い専門医療を個々の患者さんの病態に応じて提供することができ、かつ地域がん診療拠点病院において中心的役割を担うことができる医師を養成すべき人材像としています。青森県を含めた東北地方では、放射線治療医が慢性的に不足しており、地域のがん医療を推進する人材育成が急務です。がん医療に興味がある人、新たな治療技術を開発したい人、地域のがん医療に貢献したい人など、多様な若手の人材に門戸を広げ、次世代のがん医療を担う放射線治療医を育成して参ります。、「地域がん専門医療人養成コース」をスタートさせ、外科腫瘍医、腫瘍内科医、放射線腫瘍医の養成に努めてまいりました。この10年間の取り組みによって、従来の診療科を横断する人材養成体制の構築と全国的ながん教育の均霑化が整備されてきました。2017年からは東京医科歯科大学を主管校とし８大学が連携する「未来がん医療プロフェッショナル養成プラン」の中で、3つのコース（地域がん医療推進のための未来リーダー育成コース、小児血液・がん専門医育成コース、地域がん医療スタッフ育成のためのコーディネーター養成コース）を担当しました。2023年からは東北大学を主幹とし６大学が連携する「東北広域次世代がんプロ養成プラン」の中で、３つのコース（地域がん医療次世代リーダー育成コース、地域がん医療を推進する次世代病理診断医育成コース、地域がん医療を推進する次世代放射線治療医育成コース）を担当します。",
    },
};

// カードの内容を更新する関数
function updateProfileContent(profileName) {
    const profile = profiles[profileName];
    if (profile) {
        const profileImage = document.querySelector(".profile-image");
        const profileTitle = document.querySelector(".profile-title");
        const profileNameElement = document.querySelector(".profile-name");
        const profileDesc = document.querySelector(".profile-desc");

        // カードの内容を更新
        profileImage.src = profile.profileiImage;
        profileTitle.textContent = profile.profileTitle;
        profileNameElement.textContent = profile.profileName;
        profileDesc.textContent = profile.profileDesc;
    }
}

// リストアイテムにクリックイベントリスナーを追加
const listItems = document.querySelectorAll("ul li a");
listItems.forEach((item) => {
    item.addEventListener("click", function (event) {
        event.preventDefault();
        const profileName = event.target.getAttribute("data-profile");
        updateProfileContent(profileName);
    });
});

// 最初のプロファイル（例：「研究科長」）で初期化
updateProfileContent("Hitora");
</script>
