---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import MainContent from "../components/MainContent.astro";
---

<Layout title="がんプロ">
	<main>
		<div class="bg-primary">
			<div class="top-logo">
				<Logo />
			</div>
		</div>
		<div class="bg-primary repaet-image">
			<div class="main-content">
				<MainContent />
			</div>
		</div>
	</main>
	<style lang="scss">
		.main-content {
			display: flex;
			flex-flow: row wrap;
			gap: 4%;
			padding: 0 6.25% 7.71875%;
			max-width: 1280px;
			margin: 0 auto;
		}
		.top-logo {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			max-width: 80%;
			margin: 0 auto;
		}
	</style>
</Layout>
