---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import MainContent from "../components/MainContent.astro";
import Icons from "../components/Icons.astro";
---

<Layout title="弘前大学がんプロ">
	<main>
		<div class="bg-primary">
			<Logo />
		</div>
		<div class="bg-primary repaet-image">
			<MainContent />
		</div>
	</main>
	<Icons />
</Layout>

<style lang="scss"></style>
