---
import Layout from "../layouts/Layout.astro";
---

<Layout title="がんプロ">
	<main>
		<div class="bg-primary">
			<div class="top-logo">
				<img src="/public/images/logo.svg" alt="" />
			</div>
		</div>
		<div class="bg-primary repaet-image">
			<div class="main-content">
				<article>
					<div class="training-plan">
						<p>
							文部科学省 令和5年度 大学教育再生戦略推進費<br />
							 「次世代のがんプロフェッショナル養成プラン」採択プログラム
						</p>
						<h2>
							東北広域<br />次世代<br />がんプロ<br />養成プラン
						</h2>
						<h3>事業概要</h3>
						<p>
							青森県は若年層を含めたがん死亡率が最も高い地域であり、同時に広域な面積に対して医療資源が不足している地域である。さらに日本が抱える大きな問題である人口減・少子高齢化が、全国トップで進んでおり、その中でがん医療の諸問題を解決するためには、単なる専門医療職の育成のみでは限界がある。育成された専門医療職が地域全体のネットワークの中で、自らが有機的につながりを広げて活躍することが求められている。本事業の特徴は、顕在化している課題に取り組む各種専門医療資格取得のための学習と同時に、教育技法そのものを学び、そして実際のネットワーク作りに参加してその構築方法も学習するところにある。本事業の目的は、コース履修後に地域がん教育の拡散と地域医療ネットワーク構築を担う一員として、地域住民とがん患者家族の視点を持って、予防から終末期医療までの全過程におけるがん医療の諸問題の解決にあたる人材を育成することにある。
						</p>
					</div>
				</article>
				<article>
					<div class="cource">
						<h2>講座・イベント</h2>
						<div class="carousel-container">
							<div class="carousel">
								<div class="carousel-item">
									<img
										src="/public/images/slides/slide-1.jpg"
										alt="Image 1"
									/>
								</div>
								<div class="carousel-item">
									<img
										src="/public/images/slides/slide-2.jpg"
										alt="Image 2"
									/>
								</div>
								<div class="carousel-item">
									<img
										src="/public/images/slides/slide-3.jpg"
										alt="Image 3"
									/>
								</div>
								<!-- さらにスライドを追加 -->
							</div>
							<button class="prev-button">＜</button>
							<button class="next-button">＞</button>
						</div>
					</div>
					<div class="partner">
						<h2>連携大学</h2>
						<ul>
							<li>東北大学</li>
							<li>秋田大学</li>
							<li>山形大学</li>
							<li>福島県立医科大学</li>
							<li>新潟大学</li>
						</ul>
					</div>
					<div class="program">
						<img src="/public/images/logo.svg" alt="" />
						<p>
							文部科学省 令和5年度 大学教育再生戦略推進費<br />
							 「次世代のがんプロフェッショナル養成プラン」採択プログラム
						</p>
						<p>東北広域次世代がんプロ養成プラン</p>
					</div>
				</article>
				<article>
					<div class="training">
						<h2>養成コース</h2>
						<div>
							<a href=""> 次世代リーダー</a>
							<a href=""> 次世代病理診断医</a>
							<a href=""> 次世代放射線治療医</a>
						</div>
					</div>
					<div class="relevance">
						<h2>弘前大学関連</h2>
						<div class="related">
							<div>
								<img
									src="/public/images/face-right.svg"
									alt="腫瘍内科学講座"
								/>
								<p>腫瘍内科学講座</p>
							</div>
							<div>
								<img
									src="/public/images/face-center_smallSmile.svg"
									alt="病理診断学講座"
								/>
								<p>病理診断学講座</p>
							</div>
							<div>
								<img
									src="/public/images/face-center_smile.svg"
									alt="放射線腫瘍学講座、放射線診断学講座"
								/>
								<p>放射線腫瘍学講座<br />放射線診断学講座</p>
							</div>
							<div>
								<img
									src="/public/images/face-left.svg"
									alt="医学部附属病院腫瘍センター"
								/>
								<p>医学部附属病院<br />腫瘍センター</p>
							</div>
						</div>
					</div>
					<div class="address">
						<img
							src="/public/images/logo-univ.svg"
							alt="弘前大学ロゴ"
						/>
						<h3>弘前大学 大学院 医学研究科</h3>
						<address>
							<p>〒036-8562 青森県弘前市在府町5番地</p>
							<p>TEL：0172-39-5410</p>
							<p>FAX：0172-39-5209</p>
							<a href="mailto:ganpro@hirosaki-u.ac.jp"
								>メール：ganpro@hirosaki-u.ac.jp</a
							>
						</address>
					</div>
				</article>
			</div>
		</div>
		<script>
			const carousel = document.querySelector(".carousel");
			const prevButton = document.querySelector(".prev-button");
			const nextButton = document.querySelector(".next-button");
			const slideWidth = carousel.clientWidth;
			let currentIndex = 0;

			nextButton.addEventListener("click", () => {
				currentIndex = (currentIndex + 1) % carousel.children.length;
				slideCarousel();
			});

			prevButton.addEventListener("click", () => {
				currentIndex =
					(currentIndex - 1 + carousel.children.length) %
					carousel.children.length;
				slideCarousel();
			});

			function slideCarousel() {
				const offset = -currentIndex * slideWidth;
				carousel.style.transform = `translateX(${offset}px)`;
			}
		</script>

		<style lang="scss">
			.carousel-container {
				position: relative;
				overflow: hidden;
				width: 80%; /* カルーセルの表示幅を調整 */
				margin: 0 auto; /* カルーセルを中央に配置 */
			}

			.carousel {
				display: flex;
				transition: transform 0.3s ease;
			}

			.carousel-item {
				flex: 0 0 100%; /* スライドの幅を設定 */
				padding: 0 10px; /* 前後のスライドが一部表示されるようにパディングを追加 */
			}

			.prev-button,
			.next-button {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background: rgba(255, 255, 255, 0.5); /* 白い透過の背景 */
				color: white;
				border: none;
				cursor: pointer;
				width: 40px; /* ボタンの幅 */
				height: 40px; /* ボタンの高さ */
				border-radius: 50%; /* 円形のボタン */
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 18px; /* ボタンのテキストサイズ */
			}

			.next-button {
				right: 0;
			}

			.address {
				margin-top: 40px;
				img {
					width: 80px;
				}
				h3 {
					margin-top: 16px;
				}
				a {
					text-decoration: none;
				}
			}
			.relevance {
				margin-top: 100px;
				h2 {
					text-align: center;
					font-size: 28px;
					margin-bottom: 14px;
				}
				.related {
					display: flex;
					flex-wrap: wrap;
					text-align: center;
					div {
						flex-basis: 50%;
						margin-bottom: 20px;
						img {
							height: 100px;
							margin: 0 auto;
						}
					}
					p {
						margin-top: 8px;
						font-weight: 500;
					}
				}
			}
			.training {
				display: flex;
				flex-direction: column;
				h2 {
					font-size: 45px;
					text-align: center;
					margin-bottom: 24px;
				}
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					text-decoration: none;
					background-color: var(--secondary-color);
					border-radius: 10px;
					color: #fff;
					width: 380px;
					padding: 25px 60.5px 24.5px 59.5px;
					font-size: 28px;
				}
				div {
					display: flex;
					flex-direction: column;
					gap: 20px;
				}
			}
			.program {
				p:nth-of-type(1) {
					margin: 14px 0 10px;
					font-size: 12px;
				}
				p:nth-of-type(2) {
					font-size: 20px;
					font-weight: 500;
				}
			}
			.partner {
				margin: 80px 0;
				h2 {
					font-size: 45px;
					text-align: center;
					max-width: 75%;
					margin: 0 auto;
				}
				ul {
					max-width: 75%;
					list-style-type: none;
					padding: 0;
					display: flex;
					flex-wrap: wrap;
					margin: 25px auto;
					li {
						width: 50%;
					}
					li:before {
						content: "";
						width: 1em;
						height: 1em;
						background-image: url("../../public/images/list-style.svg");
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
			}
			.cource {
				h2 {
					font-size: 45px;
					text-align: center;
				}
			}
			.training-plan {
				p:nth-of-type(1) {
					font-size: 12px;
				}
				h2 {
					font-size: 70px;
					line-height: 1.2;
					margin: 36px 0;
					font-weight: 300;
					letter-spacing: 10px;
					text-align: justify;
				}
				h3 {
					text-align: center;
					letter-spacing: 20px;
					margin-bottom: 30px;
				}
				p:nth-of-type(2) {
					line-height: 1.8;
				}
			}
			article {
				display: flex;
				flex-direction: column;
				flex: 1;
				h2 {
					color: var(--secondary-color);
					font-weight: 300;
				}
				h3 {
					font-weight: 500;
				}
			}
			.main-content {
				display: flex;
				flex-wrap: wrap;
				gap: 80px;
				padding: 0 80px 150px;
				max-width: 80%;
				margin: 0 auto;
			}
			.bg-primary {
				background-color: var(--primary-color);
			}
			.repaet-image {
				background-image: url(/public/images/repeat-image.svg);
				background-position: top;
				background-size: contain;
				background-repeat: no-repeat;
			}
			.top-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				max-width: 992px;
				margin: 0 auto;
			}
		</style>
	</main>
</Layout>
