<nav class="breadcrumbs">
    <ul>
        <li><a href="/">ホーム</a></li>
        <li id="currentPage"></li>
    </ul>
</nav>
<style lang="scss">
    nav {
        margin-top: 80px;
        background-color: var(--primary-color);
    }
    ul {
        padding: 1em;
        margin: 0;
        display: flex;
        list-style-type: none;
        li:after {
            content: "/";
            margin: 0 10px;
        }
        li:last-child:after {
            content: "";
        }
    }
</style>
<script is:inline>
const pageTitle = document.title;
const titleParts = pageTitle.split("|");
const rightPart = titleParts.length > 1 ? titleParts[1].trim() : pageTitle;
const currentPageElement = document.getElementById("currentPage");

currentPageElement.textContent = rightPart;
</script>
