<nav class="breadcrumbs">
    <ul>
        <li><a href="/">ホーム</a></li>
        <li id="currentPage"></li>
    </ul>
</nav>
<style lang="scss">
    nav {
        margin-top: 80px;
        background-color: var(--primary-color);
    }
    ul {
        padding: 1em;
        margin: 0;
        display: flex;
        list-style-type: none;
        li:after {
            content: "/";
            margin: 0 10px;
        }
        li:last-child:after {
            content: "";
        }
    }
</style>
