---
import Swiper from "swiper";
import "swiper/css";
---

<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img
                src="/public/images/slides/slide-1.jpg"
                alt="第15回弘大病院がん診療市民公開講座"
            />
        </div>
        <div class="swiper-slide">
            <img
                src="/public/images/slides/slide-2.jpg"
                alt="がんと生きるオンライン市民公開フォーラム"
            />
        </div>
        <div class="swiper-slide">
            <img
                src="/public/images/slides/slide-3.jpg"
                alt="第14回弘大病院がん診療市民公開講座"
            />
        </div>
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
    <!-- 前後の矢印 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<style>
    .swiper-slide img {
        height: auto;
        width: 100%;
    }
</style>
<script>
    const swiper = new Swiper(".swiper", {
        loop: true, // ループ
        speed: 1500, // 少しゆっくり(デフォルトは300)
        slidesPerView: 1.5, // 一度に表示する枚数
        spaceBetween: 30, // スライド間の距離
        centeredSlides: true, // アクティブなスライドを中央にする
        autoplay: {
            // 自動再生
            delay: 1000, // 1秒後に次のスライド
            disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
        },
        // ページネーション
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        // 前後の矢印
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
