<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="/events/event-20231203">
                <img
                    src="/images/slides/slide-5.webp"
                    alt="第16回がん診療市民公開講座"
                />
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/events/event-20230910">
                <img
                    src="/images/slides/slide-4.webp"
                    alt="みんなで知りたいがんのこと・かんのこと展"
                />
            </a>
        </div>
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
    <!-- 前後の矢印 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<style lang="scss">
    .swiper-slide img {
        height: auto;
        width: 100%;
    }
    /* 前へ次への矢印カスタマイズ */
    .swiper-button-prev,
    .swiper-button-next {
        height: 50px;
        width: 50px;
    }
    /* 前へ次への矢印カスタマイズ */
    .swiper-button-prev::after,
    .swiper-button-next::after {
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 50px;
        margin: auto;
        width: 50px;
    }
    /* 前への矢印カスタマイズ */
    .swiper-button-prev::after {
        background-image: url(/images/prev.svg);
    }
    /* 次への矢印カスタマイズ */
    .swiper-button-next::after {
        background-image: url(/images/next.svg);
    }
    /* 画像サイズ調整 */
    .swiper-slide img {
        height: auto;
        width: 100%;
    }
</style>
