<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="">
                <img
                    src="/public/images/slides/slide-1.jpg"
                    alt="第15回弘大病院がん診療市民公開講座"
                />
            </a>
        </div>
        <div class="swiper-slide">
            <a href="">
                <img
                    src="/public/images/slides/slide-2.jpg"
                    alt="がんと生きるオンライン市民公開フォーラム"
                />
            </a>
        </div>
        <div class="swiper-slide">
            <a href="">
                <img
                    src="/public/images/slides/slide-3.jpg"
                    alt="第14回弘大病院がん診療市民公開講座"
                />
            </a>
        </div>
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
    <!-- 前後の矢印 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<style>
    .swiper-slide img {
        height: auto;
        width: 100%;
    }
    /* 前へ次への矢印カスタマイズ */
    .swiper-button-prev,
    .swiper-button-next {
        height: 50px;
        width: 50px;
    }
    /* 前へ次への矢印カスタマイズ */
    .swiper-button-prev::after,
    .swiper-button-next::after {
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 50px;
        margin: auto;
        width: 50px;
    }
    /* 前への矢印カスタマイズ */
    .swiper-button-prev::after {
        background-image: url(/public/images/prev.svg);
    }
    /* 次への矢印カスタマイズ */
    .swiper-button-next::after {
        background-image: url(/public/images/next.svg);
    }
    /* 画像サイズ調整 */
    .swiper-slide img {
        height: auto;
        width: 100%;
    }
</style>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper(".swiper", {
        loop: true, // ループ
        speed: 1500, // 少しゆっくり(デフォルトは300)
        slidesPerView: 1.5, // 一度に表示する枚数
        spaceBetween: 30, // スライド間の距離
        centeredSlides: true, // アクティブなスライドを中央にする
        autoplay: {
            // 自動再生
            delay: 1000, // 1秒後に次のスライド
            disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
        },
        // 前後の矢印
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
