---
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Navigation />
    </nav>
</header>
<style lang="scss">
    header {
        background-color: var(--primary-color);
        padding: 0 1rem;
        font-size: 14px;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 1px 25px rgba(116, 100, 92, 0.2);
        z-index: 2;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 375px) {
            height: auto;
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
</style>
