<div class="loading-content js-loading">
    <p class="loading-text">ganpro</p>
</div>

<style lang="scss">
    .loading-content {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: var(--primary-color);
        transition: all ease-in-out 1s;
        &.js-loaded {
            opacity: 0;
            visibility: hidden;
        }
        .loading-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--secondary-color);
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 0.05em;
            animation: loadingAnimation 1s infinite;
            @keyframes loadingAnimation {
                0% {
                    transform: translate(-50%, -50%) translateY(0);
                }
                50% {
                    transform: translate(-50%, -50%) translateY(-20px);
                }
                100% {
                    transform: translate(-50%, -50%) translateY(0);
                }
            }
        }
    }
    .main-content {
        padding: 20px;
        .gallery-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        .gallery-list-item {
            width: calc((100% - 20px) / 3);
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        .main-text {
            margin: 0 0 10px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
    }
</style>
<script is:inline>
const loading = document.querySelector(".js-loading");
window.addEventListener("load", () => {
    loading.classList.add("js-loaded");
});
</script>
