<div class="loading-content is-loading">
    <p class="loading-img">
        <img src="../images/loading.webp" alt="ローディング" />
    </p>
</div>

<style lang="scss">
    .loading-content {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        top: 0;
        background-color: var(--primary-color);
        transition: all ease-in-out 1s;
        &.is-loaded {
            opacity: 0;
            visibility: hidden;
        }
        .loading-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--secondary-color);
            animation: loadingAnimation 1s infinite;
            width: calc(100vw / 8);
            margin: 0 auto;
            @keyframes loadingAnimation {
                0% {
                    transform: translate(-50%, -50%) translateY(0);
                }
                50% {
                    transform: translate(-50%, -50%) translateY(-20px);
                }
                100% {
                    transform: translate(-50%, -50%) translateY(0);
                }
            }
        }
    }
</style>
