<div class="top-logo">
    <div class="pc">
        <svg
            id="pc"
            data-name="pc"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 819.2 174.76"
        >
            <defs>
                <style>
                    .cls-1 {
                        clip-path: url(#clippath);
                    }

                    .cls-2 {
                        fill: none;
                    }

                    .cls-2,
                    .cls-3,
                    .cls-4 {
                        stroke-width: 0px;
                    }

                    .cls-3 {
                        fill: #574b46;
                    }

                    .cls-4 {
                        fill: #ed8ea0;
                    }
                </style>
                <clipPath id="clippath">
                    <rect
                        class="cls-2 svg-elem-1"
                        x="567.98"
                        y="65.54"
                        width="251.22"
                        height="109.23"></rect>
                </clipPath>
            </defs>
            <g>
                <path
                    class="cls-3 svg-elem-2"
                    d="m283.99,54.61c0-30.16,24.45-54.61,54.61-54.61,30.16,0,54.61,24.45,54.61,54.61h-10.92c0-24.13-19.56-43.69-43.69-43.69-24.13,0-43.69,19.56-43.69,43.69h-10.92Z"
                ></path>
                <path
                    class="cls-3 svg-elem-3"
                    d="m393.22,54.61v49.15c0,3-2.46,5.46-5.46,5.46h0c-3,0-5.46-2.46-5.46-5.46v-49.15h10.92Z"
                ></path>
                <path
                    class="cls-3 svg-elem-4"
                    d="m283.99,5.46C283.99,2.46,286.45,0,289.45,0s5.46,2.46,5.46,5.46v98.3c0,3-2.46,5.46-5.46,5.46s-5.46-2.46-5.46-5.46V5.46Z"
                ></path>
            </g>
            <g>
                <path
                    class="cls-3 svg-elem-5"
                    d="m436.91,54.61c0-24.13,19.56-43.69,43.69-43.69,24.13,0,43.69,19.56,43.69,43.69,0,24.13-19.56,43.69-43.69,43.69-24.13,0-43.69-19.56-43.69-43.69Zm43.69,54.61c30.16,0,54.61-24.45,54.61-54.61C535.21,24.45,510.76,0,480.6,0c-30.16,0-54.61,24.45-54.61,54.61,0,30.16,24.45,54.61,54.61,54.61Z"
                ></path>
                <path
                    class="cls-3 svg-elem-6"
                    d="m436.91,54.61v114.69c0,3-2.46,5.46-5.46,5.46h0c-3,0-5.46-2.46-5.46-5.46V54.61h10.92Z"
                ></path>
            </g>
            <g>
                <g>
                    <path
                        class="cls-4 svg-elem-7"
                        d="m764.59,0c-30.16,0-54.61,24.45-54.61,54.61s24.45,54.61,54.61,54.61c30.16,0,54.61-24.45,54.61-54.61S794.75,0,764.59,0Z"
                    ></path>
                    <circle
                        class="cls-4 svg-elem-8"
                        cx="709.97"
                        cy="54.61"
                        r="8.74"></circle>
                </g>
                <g>
                    <ellipse
                        class="cls-3 svg-elem-9"
                        cx="729.84"
                        cy="39.59"
                        rx="5.46"
                        ry="8.74"></ellipse>
                    <path
                        class="cls-3 svg-elem-10"
                        d="m736.19,75.91h-21.9c2.57,6.07,6.25,11.55,10.72,16.26,6.53-2.53,11.18-8.83,11.18-16.26Z"
                    ></path>
                </g>
            </g>
            <g>
                <g>
                    <circle
                        class="cls-4 svg-elem-11"
                        cx="196.61"
                        cy="54.61"
                        r="54.61"></circle>
                    <circle
                        class="cls-4 svg-elem-12"
                        cx="251.22"
                        cy="54.61"
                        r="8.74"></circle>
                </g>
                <g>
                    <ellipse
                        class="cls-3 svg-elem-13"
                        cx="231.36"
                        cy="39.59"
                        rx="5.46"
                        ry="8.74"></ellipse>
                    <path
                        class="cls-3 svg-elem-14"
                        d="m229.38,75.91h-4.37c0,7.43,4.65,13.73,11.18,16.26,1.09-1.15,2.14-2.34,3.13-3.58-5.7-1.42-9.94-6.54-9.94-12.68Z"
                    ></path>
                </g>
            </g>
            <g>
                <path
                    class="cls-3 svg-elem-15"
                    d="m567.98,5.46C567.98,2.46,570.44,0,573.44,0s5.46,2.46,5.46,5.46v98.3c0,3-2.46,5.46-5.46,5.46s-5.46-2.46-5.46-5.46V5.46Z"
                ></path>
                <path
                    class="cls-3 svg-elem-16"
                    d="m677.21,54.61c0-30.16-24.45-54.61-54.61-54.61-30.16,0-54.61,24.45-54.61,54.61h10.92c0-24.13,19.56-43.69,43.69-43.69,24.13,0,43.69,19.56,43.69,43.69h10.92Z"
                ></path>
                <circle
                    class="cls-3 svg-elem-17"
                    cx="671.74"
                    cy="54.61"
                    r="5.46"></circle>
            </g>
            <g>
                <path
                    class="cls-3 svg-elem-18"
                    d="m10.92,54.61c0-24.13,19.56-43.69,43.69-43.69,24.13,0,43.69,19.56,43.69,43.69,0,24.13-19.56,43.69-43.69,43.69-24.13,0-43.69-19.56-43.69-43.69Zm43.69,54.61c30.16,0,54.61-24.45,54.61-54.61C109.23,24.45,84.78,0,54.61,0,24.45,0,0,24.45,0,54.61c0,30.16,24.45,54.61,54.61,54.61Z"
                ></path>
                <path
                    class="cls-3 svg-elem-19"
                    d="m109.23,120.15c0,30.16-24.45,54.61-54.61,54.61S0,150.31,0,120.15h10.92c0,24.13,19.56,43.69,43.69,43.69s43.69-19.56,43.69-43.69h10.92Z"
                ></path>
                <rect
                    class="cls-3 svg-elem-20"
                    x="98.3"
                    y="54.61"
                    width="10.92"
                    height="65.54"></rect>
                <circle class="cls-3 svg-elem-21" cx="5.46" cy="120.15" r="5.46"
                ></circle>
            </g>
            <g class="cls-1">
                <g>
                    <path
                        class="cls-3 svg-elem-22"
                        d="m576.36,156.8c-.43-.02-.78-.2-1.05-.54-.27-.34-.38-.73-.34-1.16.21-1.92.42-4.66.65-8.23.02-.5.21-.91.57-1.24.36-.33.79-.5,1.28-.5h5.54c.19,0,.28-.09.28-.28v-3.71c0-.19-.09-.28-.28-.28h-6.62c-.39,0-.72-.13-.97-.4-.26-.27-.39-.6-.39-.99s.13-.72.39-.99c.26-.27.58-.4.97-.4h8.38c.47,0,.89.17,1.24.53.35.35.53.76.53,1.24v6.21c0,.47-.18.89-.53,1.24-.35.35-.76.53-1.24.53h-5.72c-.19,0-.28.08-.28.25-.08,1.15-.18,2.4-.28,3.74,0,.17.07.25.22.25h5.54c.47,0,.88.17,1.21.51.33.34.48.75.46,1.22-.14,2.6-.29,4.6-.45,6-.15,1.4-.39,2.47-.71,3.22-.32.74-.66,1.2-1.02,1.36-.36.16-.9.25-1.62.25-.47,0-2.22-.06-5.23-.19-.41-.02-.76-.18-1.04-.46-.28-.29-.42-.63-.42-1.02s.14-.72.42-.99.61-.39,1-.37c2.02.1,3.36.15,4.02.15.31,0,.53-.04.65-.11s.26-.34.4-.8c.14-.46.26-1.12.34-1.96.08-.84.17-2.12.28-3.83,0-.17-.08-.25-.25-.25h-3.83c-.17,0-.27.09-.31.28,0,.02,0,.06-.02.12-.01.06-.02.1-.02.12-.04.45-.23.83-.57,1.11-.34.29-.74.41-1.19.37Zm23.22-5.81c1.24,3.53,2.37,7.25,3.4,11.16.12.45.07.89-.15,1.31-.23.42-.57.71-1.02.85-.43.14-.85.1-1.24-.12-.39-.23-.64-.56-.74-.99-.04-.1-.08-.26-.12-.48-.04-.22-.08-.38-.12-.48-.04-.19-.15-.26-.34-.22-4.06.82-8.05,1.39-11.97,1.7-.39.02-.74-.09-1.04-.34-.3-.25-.47-.58-.51-.99-.02-.39.09-.73.34-1.02.25-.29.57-.45.96-.5.14,0,.24-.07.28-.22,2.16-6.89,3.97-14.1,5.41-21.65.1-.47.35-.85.73-1.11.38-.27.8-.36,1.25-.28.45.08.81.31,1.08.7.27.38.35.8.25,1.25-1.36,6.86-3.09,13.77-5.2,20.72-.04.14.01.22.15.22,2.14-.25,4.65-.63,7.51-1.14.17-.04.23-.13.19-.28-.7-2.45-1.42-4.79-2.16-7.02-.14-.41-.12-.83.08-1.24.2-.41.5-.69.91-.83.41-.14.82-.12,1.24.08.41.2.69.5.83.91Z"
                    ></path>
                    <path
                        class="cls-3 svg-elem-23"
                        d="m646.27,142.67c-.37,0-.69-.13-.96-.4-.27-.27-.4-.59-.4-.96s.13-.69.4-.96c.27-.27.59-.4.96-.4h6.06c.17,0,.21-.08.12-.25-.08-.14-.2-.36-.36-.65-.15-.29-.27-.5-.36-.65-.19-.33-.2-.68-.05-1.05s.43-.6.82-.68c.47-.1.93-.06,1.38.12.44.19.78.48,1,.9.41.72.77,1.39,1.08,2.01.06.17.19.25.37.25h5.1c.14,0,.27-.08.37-.25.31-.51.65-1.14,1.02-1.89.23-.43.55-.76.97-.99.42-.23.87-.3,1.35-.22.41.08.72.3.91.66.2.36.2.73.02,1.1-.23.45-.46.9-.71,1.33-.04.04-.05.09-.02.16s.08.09.14.09h5.88c.37,0,.69.13.96.4.27.27.4.59.4.96s-.13.69-.4.96c-.27.27-.59.4-.96.4h-25.11Zm8.29,19.08c.54,0,.86-.07.96-.22.1-.14.15-.62.15-1.42v-1.64c0-.19-.09-.28-.28-.28h-5.5c-.19,0-.28.09-.28.28v4.61c0,.45-.15.83-.46,1.14-.31.31-.69.46-1.14.46s-.83-.15-1.14-.46c-.31-.31-.46-.69-.46-1.14v-16.88c0-.47.17-.89.51-1.24.34-.35.75-.53,1.22-.53h8.94c.47,0,.89.18,1.24.53.35.35.53.76.53,1.24v14.16c0,.76,0,1.34-.02,1.73-.01.39-.07.78-.17,1.16-.1.38-.22.64-.34.77-.12.13-.35.26-.68.39-.33.12-.67.19-1.02.2-.35.01-.87.02-1.55.02-.1,0-.59-.02-1.45-.06-.39-.02-.73-.18-1-.48s-.43-.66-.45-1.07c-.02-.39.11-.72.39-.99s.61-.38,1-.34c.14,0,.3,0,.46.02.17,0,.29.02.37.03.08.01.14.02.19.02Zm-4.95-14.35v2.41c0,.19.09.28.28.28h5.5c.19,0,.28-.09.28-.28v-2.41c0-.19-.09-.28-.28-.28h-5.5c-.19,0-.28.09-.28.28Zm5.78,8.26c.19,0,.28-.09.28-.28v-2.5c0-.17-.09-.25-.28-.25h-5.5c-.19,0-.28.08-.28.25v2.5c0,.19.09.28.28.28h5.5Zm9.15,1.73c0,.43-.15.8-.46,1.11-.31.31-.68.46-1.11.46s-.81-.15-1.13-.46c-.32-.31-.48-.68-.48-1.11v-10.92c0-.43.16-.8.48-1.11.32-.31.7-.46,1.13-.46s.8.15,1.11.46c.31.31.46.68.46,1.11v10.92Zm.28,7.24c-.43-.02-.8-.19-1.11-.5-.31-.31-.47-.68-.49-1.11-.02-.39.12-.73.42-1.02.3-.29.65-.42,1.07-.4.7.04,1.42.06,2.16.06.62,0,.99-.07,1.11-.22.12-.14.19-.61.19-1.39v-14.29c0-.45.16-.84.48-1.16.32-.32.71-.48,1.16-.48s.84.16,1.16.48c.32.32.48.71.48,1.16v14.44c0,2.02-.22,3.27-.66,3.76-.44.48-1.59.73-3.45.73-.85,0-1.68-.02-2.5-.06Z"
                    ></path>
                    <path
                        class="cls-3 svg-elem-24"
                        d="m742.63,144.84c0,.39-.14.73-.43,1.02-.29.29-.64.43-1.05.43h-9.71c-.19,0-.26.09-.22.28.39,3.17,1.49,6,3.29,8.49,1.8,2.48,4.23,4.56,7.28,6.23.35.21.58.5.68.88.1.38.04.75-.19,1.1-.25.37-.59.61-1.02.73s-.85.07-1.24-.14c-2.35-1.28-4.43-2.94-6.25-4.99-1.81-2.05-3.23-4.33-4.24-6.85-.02-.04-.05-.06-.09-.06s-.07.02-.09.06c-1.03,2.52-2.47,4.8-4.33,6.85-1.86,2.05-3.98,3.72-6.37,4.99-.39.21-.8.25-1.24.14-.43-.11-.77-.36-1.02-.73-.23-.35-.29-.72-.2-1.1.09-.38.31-.68.67-.88,3.05-1.67,5.48-3.75,7.28-6.23,1.8-2.48,2.9-5.31,3.29-8.49.04-.19-.03-.28-.22-.28h-9.71c-.41,0-.76-.14-1.05-.43-.29-.29-.43-.63-.43-1.02,0-.41.14-.76.43-1.05s.64-.43,1.05-.43h9.83c.19,0,.28-.09.28-.28v-4.21c0-.47.17-.88.51-1.21.34-.33.74-.49,1.19-.49s.85.17,1.19.49c.34.33.51.73.51,1.21v4.21c0,.19.09.28.28.28h9.83c.41,0,.76.14,1.05.43.29.29.43.64.43,1.05Z"
                    ></path>
                    <path
                        class="cls-3 svg-elem-25"
                        d="m787.19,156.65c-.39,0-.73-.13-1.01-.4-.28-.27-.42-.61-.42-1.02s.14-.75.42-1.02c.28-.27.61-.4,1.01-.4h11.13c.19,0,.28-.09.28-.28v-.5c0-.47.17-.88.5-1.21s.73-.49,1.21-.49h.19c.14.02.28-.04.4-.19.02-.02.06-.05.11-.09.05-.04.09-.07.11-.09.76-.58,1.66-1.33,2.69-2.26.1-.1.07-.15-.09-.15h-10.88c-.39,0-.72-.14-.99-.42-.27-.28-.4-.61-.4-1s.13-.72.4-.97c.27-.26.6-.39.99-.39h14.07c.39,0,.72.13.99.39s.4.58.4.97c0,.93-.32,1.73-.96,2.41-1.2,1.26-2.62,2.52-4.27,3.77-.17.14-.42.24-.77.28-.06.04-.09.1-.09.19l.03.03h10.27c.39,0,.73.13,1,.4.28.27.42.61.42,1.02s-.14.75-.42,1.02c-.28.27-.61.4-1,.4h-10.2c-.19,0-.28.09-.28.28v4.24c0,1.63-.22,2.63-.67,3.02-.44.38-1.64.57-3.6.57-.72,0-1.89-.03-3.5-.09-.41-.02-.76-.18-1.05-.46s-.44-.63-.46-1.02c-.02-.39.1-.72.37-.99.27-.27.6-.39.99-.37,1.53.06,2.62.09,3.28.09.62,0,.98-.05,1.08-.15s.15-.44.15-1.02v-3.8c0-.19-.09-.28-.28-.28h-11.13Zm25.17-8.58c-.31.32-.68.48-1.11.48s-.8-.16-1.11-.48c-.31-.32-.46-.7-.46-1.13v-3.09c0-.16-.09-.25-.28-.25h-19.11c-.19,0-.28.08-.28.25v3.09c0,.43-.15.81-.46,1.13-.31.32-.68.48-1.11.48s-.8-.16-1.11-.48c-.31-.32-.46-.7-.46-1.13v-4.3c0-.47.17-.89.53-1.24.35-.35.76-.53,1.24-.53h2.13c.06,0,.11-.03.14-.08.03-.05.04-.1.02-.14-.06-.14-.18-.35-.34-.62-.17-.27-.28-.46-.34-.59-.21-.35-.25-.73-.12-1.13.12-.4.38-.67.77-.82.41-.17.83-.18,1.27-.05.43.13.75.4.96.79.68,1.2,1.11,1.99,1.3,2.38.06.17.19.25.37.25h3.28c.06,0,.11-.03.14-.08.03-.05.04-.1.02-.14-.52-.97-.78-1.47-.8-1.52-.21-.35-.24-.73-.11-1.13.13-.4.4-.67.79-.82.41-.16.83-.18,1.25-.05.42.13.74.4.94.79.33.58.8,1.48,1.42,2.72.08.14.21.22.37.22h2.84c.17,0,.3-.07.4-.22.74-1.26,1.22-2.08,1.42-2.47.23-.41.54-.71.94-.9.4-.19.82-.22,1.25-.09.39.1.67.34.82.71s.14.73-.05,1.08l-.93,1.67s-.01.09.02.14c.03.05.08.08.14.08h2.13c.47,0,.89.18,1.24.53s.53.76.53,1.24v4.3c0,.43-.16.81-.46,1.13Z"
                    ></path>
                </g>
            </g>
        </svg>
    </div>
    <div class="sp">
        <svg
            id="sp"
            data-name="sp"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 300 300"
        >
            <defs>
                <style>
                    .cls-10 {
                        clip-path: url(#clippath2);
                    }

                    .cols-11 {
                        fill: none;
                    }

                    .cols-11,
                    .cls-12,
                    .cls-13 {
                        stroke-width: 0px;
                    }

                    .cls-12 {
                        fill: #574b46;
                    }

                    .cls-13 {
                        fill: #ed8ea0;
                    }
                </style>
                <clipPath id="clippath2">
                    <rect
                        class="cols-11 svg-elem-10 svg-elements-1"
                        y="216.67"
                        width="191.67"
                        height="83.33"></rect>
                </clipPath>
            </defs>
            <g>
                <path
                    class="cls-12 svg-elem-20 svg-elements-2"
                    d="m216.67,41.67c0-23.01,18.65-41.67,41.67-41.67,23.01,0,41.67,18.65,41.67,41.67h-8.33c0-18.41-14.92-33.33-33.33-33.33-18.41,0-33.33,14.92-33.33,33.33h-8.33Z"
                ></path>
                <path
                    class="cls-12 svg-elem-30 svg-elements-3"
                    d="m300,41.67v37.5c0,2.29-1.87,4.17-4.17,4.17h0c-2.29,0-4.17-1.87-4.17-4.17v-37.5h8.33Z"
                ></path>
                <path
                    class="cls-12 svg-elem-40 svg-elements-4"
                    d="m216.67,4.17C216.67,1.88,218.54,0,220.83,0s4.17,1.87,4.17,4.17v75c0,2.29-1.87,4.17-4.17,4.17s-4.17-1.87-4.17-4.17V4.17Z"
                ></path>
            </g>
            <g>
                <path
                    class="cls-12 svg-elem-50 svg-elements-5"
                    d="m116.67,150c0-18.41,14.92-33.33,33.33-33.33,18.41,0,33.33,14.92,33.33,33.33,0,18.41-14.92,33.33-33.33,33.33-18.41,0-33.33-14.92-33.33-33.33Zm33.33,41.67c23.01,0,41.67-18.65,41.67-41.67s-18.65-41.67-41.67-41.67c-23.01,0-41.67,18.65-41.67,41.67,0,23.01,18.65,41.67,41.67,41.67Z"
                ></path>
                <path
                    class="cls-12 svg-elem-60 svg-elements-6"
                    d="m116.67,150v87.5c0,2.29-1.88,4.17-4.17,4.17h0c-2.29,0-4.17-1.88-4.17-4.17v-87.5h8.33Z"
                ></path>
            </g>
            <g>
                <g>
                    <path
                        class="cls-13 svg-elem-70 svg-elements-7"
                        d="m258.33,216.67c-23.01,0-41.67,18.65-41.67,41.67s18.65,41.67,41.67,41.67c23.01,0,41.67-18.65,41.67-41.67s-18.65-41.67-41.67-41.67Z"
                    ></path>
                    <circle
                        class="cls-13 svg-elem-80 svg-elements-8"
                        cx="216.67"
                        cy="258.33"
                        r="6.67"></circle>
                </g>
                <g>
                    <ellipse
                        class="cls-12 svg-elem-90 svg-elements-9"
                        cx="231.82"
                        cy="246.87"
                        rx="4.17"
                        ry="6.67"></ellipse>
                    <path
                        class="cls-12 svg-elem-100 svg-elements-10"
                        d="m236.67,274.58h-16.71c1.96,4.63,4.77,8.81,8.18,12.41,4.98-1.93,8.53-6.74,8.53-12.41Z"
                    ></path>
                </g>
            </g>
            <g>
                <g>
                    <circle
                        class="cls-13 svg-elem-110 svg-elements-11"
                        cx="150"
                        cy="41.67"
                        r="41.67"></circle>
                    <circle
                        class="cls-13 svg-elem-120 svg-elements-12"
                        cx="191.67"
                        cy="41.67"
                        r="6.67"></circle>
                </g>
                <g>
                    <ellipse
                        class="cls-12 svg-elem-130 svg-elements-13"
                        cx="176.51"
                        cy="30.21"
                        rx="4.17"
                        ry="6.67"></ellipse>
                    <path
                        class="cls-12 svg-elem-140 svg-elements-14"
                        d="m175,57.92h-3.33c0,5.67,3.55,10.47,8.53,12.41.83-.88,1.63-1.78,2.39-2.73-4.35-1.08-7.59-4.99-7.59-9.67Z"
                    ></path>
                </g>
            </g>
            <g>
                <path
                    class="cls-12 svg-elem-150 svg-elements-15"
                    d="m216.67,112.5c0-2.29,1.87-4.17,4.17-4.17s4.17,1.87,4.17,4.17v75c0,2.29-1.87,4.17-4.17,4.17s-4.17-1.87-4.17-4.17v-75Z"
                ></path>
                <path
                    class="cls-12 svg-elem-160 svg-elements-16"
                    d="m300,150c0-23.01-18.65-41.67-41.67-41.67-23.01,0-41.67,18.65-41.67,41.67h8.33c0-18.41,14.92-33.33,33.33-33.33,18.41,0,33.33,14.92,33.33,33.33h8.33Z"
                ></path>
                <circle
                    class="cls-12 svg-elements-17"
                    cx="295.83"
                    cy="150"
                    r="4.17"></circle>
            </g>
            <g>
                <path
                    class="cls-12 svg-elem-180 svg-elements-18"
                    d="m8.33,41.67c0-18.41,14.92-33.33,33.33-33.33,18.41,0,33.33,14.92,33.33,33.33s-14.92,33.33-33.33,33.33c-18.41,0-33.33-14.92-33.33-33.33Zm33.33,41.67c23.01,0,41.67-18.65,41.67-41.67S64.68,0,41.67,0C18.65,0,0,18.65,0,41.67c0,23.01,18.65,41.67,41.67,41.67Z"
                ></path>
                <path
                    class="cls-12 svg-elem-190 svg-elements-19"
                    d="m83.33,91.67c0,23.01-18.65,41.67-41.67,41.67S0,114.68,0,91.67h8.33c0,18.41,14.92,33.33,33.33,33.33s33.33-14.92,33.33-33.33h8.33Z"
                ></path>
                <rect
                    class="cls-12 svg-elem-200 svg-elements-20"
                    x="75"
                    y="41.67"
                    width="8.33"
                    height="50"></rect>
                <circle
                    class="cls-12 svg-elem-210 svg-elements-21"
                    cx="4.17"
                    cy="91.67"
                    r="4.17"></circle>
            </g>
            <g class="cls-10">
                <g>
                    <path
                        class="cls-12 svg-elem-220 svg-elements-22"
                        d="m6.39,286.3c-.33-.02-.6-.15-.8-.41-.21-.26-.29-.55-.26-.88.16-1.46.32-3.55.5-6.28.02-.38.16-.69.44-.94.28-.25.6-.38.98-.38h4.22c.14,0,.21-.07.21-.21v-2.83c0-.14-.07-.21-.21-.21h-5.05c-.3,0-.55-.1-.74-.31-.2-.2-.29-.46-.29-.75s.1-.55.29-.75c.2-.2.44-.31.74-.31h6.39c.36,0,.68.13.94.4.27.27.4.58.4.94v4.74c0,.36-.13.68-.4.94-.27.27-.58.4-.94.4h-4.36c-.14,0-.21.06-.21.19-.06.88-.13,1.83-.21,2.85,0,.13.05.19.17.19h4.22c.36,0,.67.13.92.39.25.26.37.57.35.93-.11,1.98-.22,3.51-.34,4.58-.12,1.07-.3,1.89-.54,2.45-.24.57-.5.91-.78,1.04s-.69.19-1.24.19c-.36,0-1.69-.05-3.99-.14-.32-.02-.58-.13-.79-.35-.21-.22-.32-.48-.32-.78s.11-.55.32-.76c.21-.2.47-.3.77-.28,1.54.08,2.56.12,3.07.12.24,0,.4-.03.5-.08.09-.05.2-.26.31-.61.11-.35.2-.85.26-1.5.06-.65.13-1.62.21-2.93,0-.13-.06-.19-.19-.19h-2.93c-.13,0-.21.07-.24.21,0,.02,0,.05-.01.09,0,.05-.01.08-.01.09-.03.35-.18.63-.44.85-.26.22-.56.31-.91.28Zm17.72-4.44c.94,2.69,1.81,5.53,2.59,8.52.09.35.05.68-.12,1-.17.32-.43.54-.78.65-.33.11-.65.08-.94-.09-.3-.17-.49-.42-.57-.75-.03-.08-.06-.2-.09-.37s-.06-.29-.09-.37c-.03-.14-.12-.2-.26-.17-3.1.63-6.14,1.06-9.13,1.3-.3.02-.56-.07-.79-.26-.23-.19-.36-.44-.39-.75-.02-.3.07-.56.26-.78.19-.22.43-.35.73-.38.11,0,.18-.05.21-.17,1.65-5.25,3.03-10.76,4.13-16.52.08-.36.26-.64.55-.85s.61-.27.96-.21c.35.06.62.24.83.53.2.29.27.61.19.96-1.04,5.24-2.36,10.51-3.96,15.81-.03.11,0,.17.12.17,1.64-.19,3.55-.48,5.73-.87.13-.03.17-.1.14-.21-.54-1.87-1.08-3.66-1.65-5.36-.11-.31-.09-.63.06-.94.15-.31.38-.53.7-.64.31-.11.63-.09.94.06.31.15.53.38.64.7Z"
                    ></path>
                    <path
                        class="cls-12 svg-elem-230 svg-elements-23"
                        d="m59.74,275.52c-.28,0-.53-.1-.73-.31s-.31-.45-.31-.73.1-.53.31-.73c.2-.2.45-.31.73-.31h4.62c.13,0,.16-.06.09-.19-.06-.11-.15-.27-.27-.5s-.21-.39-.27-.5c-.14-.25-.15-.52-.04-.8s.33-.46.62-.52c.36-.08.71-.05,1.05.09s.59.37.77.68c.31.55.59,1.06.83,1.53.05.13.14.19.28.19h3.89c.11,0,.2-.06.28-.19.24-.39.5-.87.78-1.44.17-.33.42-.58.74-.75.32-.17.67-.23,1.03-.17.31.06.55.23.7.51.15.28.15.55.01.84-.17.35-.35.68-.54,1.01-.03.03-.04.07-.01.12.02.05.06.07.11.07h4.48c.28,0,.53.1.73.31.2.2.31.45.31.73s-.1.53-.31.73-.45.31-.73.31h-19.16Zm6.32,14.56c.41,0,.65-.05.73-.17.08-.11.12-.47.12-1.09v-1.25c0-.14-.07-.21-.21-.21h-4.2c-.14,0-.21.07-.21.21v3.52c0,.35-.12.64-.35.87-.24.24-.53.35-.87.35s-.64-.12-.87-.35-.35-.53-.35-.87v-12.88c0-.36.13-.68.39-.94.26-.27.57-.4.93-.4h6.82c.36,0,.68.13.94.4.27.27.4.58.4.94v10.81c0,.58,0,1.02-.01,1.32,0,.3-.05.59-.13.88-.08.29-.17.49-.26.59-.09.1-.27.2-.52.29-.25.09-.51.15-.78.15-.27,0-.66.01-1.18.01-.08,0-.45-.02-1.11-.05-.3-.02-.55-.14-.77-.37-.21-.23-.33-.5-.34-.81-.02-.3.08-.55.29-.75.21-.2.47-.29.77-.26.11,0,.23,0,.35.01.12,0,.22.02.28.02.06,0,.11.01.14.01Zm-3.78-10.95v1.84c0,.14.07.21.21.21h4.2c.14,0,.21-.07.21-.21v-1.84c0-.14-.07-.21-.21-.21h-4.2c-.14,0-.21.07-.21.21Zm4.41,6.3c.14,0,.21-.07.21-.21v-1.91c0-.13-.07-.19-.21-.19h-4.2c-.14,0-.21.06-.21.19v1.91c0,.14.07.21.21.21h4.2Zm6.98,1.32c0,.33-.12.61-.35.85-.24.24-.52.35-.85.35s-.62-.12-.86-.35-.37-.52-.37-.85v-8.33c0-.33.12-.61.37-.85.24-.24.53-.35.86-.35s.61.12.85.35c.24.24.35.52.35.85v8.33Zm.21,5.52c-.33-.02-.61-.14-.85-.38-.24-.24-.36-.52-.38-.85-.02-.3.09-.56.32-.78.23-.22.5-.32.81-.31.53.03,1.08.05,1.65.05.47,0,.75-.05.85-.17.09-.11.14-.46.14-1.06v-10.9c0-.35.12-.64.37-.88s.54-.37.88-.37.64.12.88.37.37.54.37.88v11.02c0,1.54-.17,2.5-.51,2.87-.34.37-1.21.55-2.63.55-.64,0-1.28-.02-1.91-.05Z"
                    ></path>
                    <path
                        class="cls-12 svg-elem-240 svg-elements-24"
                        d="m133.25,277.17c0,.3-.11.56-.33.78-.22.22-.49.33-.8.33h-7.41c-.14,0-.2.07-.17.21.3,2.42,1.14,4.58,2.51,6.48,1.38,1.9,3.23,3.48,5.56,4.75.27.16.44.38.52.67.08.29.03.57-.14.84-.19.28-.45.47-.78.55s-.65.05-.94-.11c-1.79-.98-3.38-2.25-4.77-3.81-1.38-1.56-2.46-3.31-3.23-5.23-.02-.03-.04-.05-.07-.05s-.05.02-.07.05c-.79,1.92-1.89,3.66-3.3,5.23-1.42,1.57-3.04,2.83-4.86,3.81-.3.16-.61.19-.94.11-.33-.09-.59-.27-.78-.55-.17-.27-.22-.55-.15-.84.07-.29.24-.52.51-.67,2.33-1.27,4.18-2.86,5.56-4.75,1.38-1.9,2.21-4.05,2.51-6.48.03-.14-.02-.21-.17-.21h-7.41c-.32,0-.58-.11-.8-.33-.22-.22-.33-.48-.33-.78,0-.31.11-.58.33-.8.22-.22.49-.33.8-.33h7.5c.14,0,.21-.07.21-.21v-3.21c0-.36.13-.67.39-.92.26-.25.56-.38.91-.38s.65.13.91.38c.26.25.39.56.39.92v3.21c0,.14.07.21.21.21h7.5c.31,0,.58.11.8.33.22.22.33.49.33.8Z"
                    ></path>
                    <path
                        class="cls-12 svg-elem-250 svg-elements-25"
                        d="m167.25,286.18c-.3,0-.55-.1-.77-.31-.21-.2-.32-.46-.32-.78s.11-.57.32-.78c.21-.2.47-.31.77-.31h8.49c.14,0,.21-.07.21-.21v-.38c0-.36.13-.67.38-.92.25-.25.56-.38.92-.38h.14c.11.02.21-.03.31-.14.02-.02.04-.04.08-.07.04-.03.07-.05.08-.07.58-.44,1.27-1.01,2.05-1.72.08-.08.05-.12-.07-.12h-8.31c-.3,0-.55-.11-.75-.32s-.31-.47-.31-.77.1-.55.31-.74.46-.29.75-.29h10.74c.3,0,.55.1.75.29.2.2.31.44.31.74,0,.71-.24,1.32-.73,1.84-.91.96-2,1.92-3.26,2.88-.13.11-.32.18-.59.21-.05.03-.07.08-.07.14l.02.02h7.83c.3,0,.55.1.77.31.21.2.32.46.32.78s-.11.57-.32.78c-.21.2-.47.31-.77.31h-7.79c-.14,0-.21.07-.21.21v3.23c0,1.24-.17,2.01-.51,2.3s-1.25.44-2.75.44c-.55,0-1.44-.02-2.67-.07-.32-.02-.58-.13-.8-.35-.22-.22-.34-.48-.35-.78-.02-.3.08-.55.28-.75.2-.2.46-.3.75-.28,1.16.05,2,.07,2.5.07.47,0,.75-.04.83-.12.08-.08.12-.34.12-.78v-2.9c0-.14-.07-.21-.21-.21h-8.49Zm19.21-6.55c-.24.24-.52.37-.85.37s-.61-.12-.85-.37c-.24-.24-.35-.53-.35-.86v-2.36c0-.13-.07-.19-.21-.19h-14.58c-.14,0-.21.06-.21.19v2.36c0,.33-.12.62-.35.86-.24.24-.52.37-.85.37s-.61-.12-.85-.37c-.24-.24-.35-.53-.35-.86v-3.28c0-.36.13-.68.4-.94s.58-.4.94-.4h1.63s.08-.02.11-.06c.02-.04.03-.07.01-.11-.05-.11-.13-.27-.26-.47s-.21-.35-.26-.45c-.16-.27-.19-.55-.09-.86.09-.31.29-.52.59-.62.31-.13.64-.14.97-.04.33.1.57.3.73.6.52.91.85,1.52.99,1.82.05.13.14.19.28.19h2.5s.08-.02.11-.06c.02-.04.03-.07.01-.11-.39-.74-.6-1.12-.61-1.16-.16-.27-.18-.55-.08-.86.1-.31.3-.52.6-.63.31-.13.63-.14.96-.04.32.1.56.3.72.6.25.44.61,1.13,1.08,2.08.06.11.16.17.28.17h2.17c.12,0,.23-.05.31-.17.57-.96.93-1.59,1.08-1.89.17-.31.41-.54.72-.68s.62-.17.96-.07c.3.08.51.26.63.54.12.28.11.56-.04.83l-.71,1.27s-.01.07.01.11c.02.04.06.06.11.06h1.63c.36,0,.68.13.94.4.27.27.4.58.4.94v3.28c0,.33-.12.62-.35.86Z"
                    ></path>
                </g>
            </g>
        </svg>
    </div>
</div>
<style lang="scss">
    .top-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 80%;
        margin: 0 auto;
    }
    @media (min-width: 852px) {
        .sp {
            display: none;
        }
        .pc {
            width: calc(100vw - 80%);
            display: block;
            .svg-elem-1 {
                -webkit-animation: animate-svg-fill-1 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
                animation: animate-svg-fill-1 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
            }

            @-webkit-keyframes animate-svg-fill-2 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-2 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-2 {
                -webkit-animation: animate-svg-fill-2 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
                animation: animate-svg-fill-2 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
            }

            @-webkit-keyframes animate-svg-fill-3 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-3 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-3 {
                -webkit-animation: animate-svg-fill-3 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
                animation: animate-svg-fill-3 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
            }

            @-webkit-keyframes animate-svg-fill-4 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-4 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-4 {
                -webkit-animation: animate-svg-fill-4 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
                animation: animate-svg-fill-4 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
            }

            @-webkit-keyframes animate-svg-fill-5 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-5 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-5 {
                -webkit-animation: animate-svg-fill-5 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
                animation: animate-svg-fill-5 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
            }

            @-webkit-keyframes animate-svg-fill-6 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-6 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-6 {
                -webkit-animation: animate-svg-fill-6 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
                animation: animate-svg-fill-6 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
            }

            @-webkit-keyframes animate-svg-fill-7 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-7 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elem-7 {
                -webkit-animation: animate-svg-fill-7 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
                animation: animate-svg-fill-7 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
            }

            @-webkit-keyframes animate-svg-fill-8 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-8 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elem-8 {
                -webkit-animation: animate-svg-fill-8 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
                animation: animate-svg-fill-8 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
            }

            @-webkit-keyframes animate-svg-fill-9 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-9 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-9 {
                -webkit-animation: animate-svg-fill-9 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
                animation: animate-svg-fill-9 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
            }

            @-webkit-keyframes animate-svg-fill-10 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-10 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-10 {
                -webkit-animation: animate-svg-fill-10 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
                animation: animate-svg-fill-10 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
            }

            @-webkit-keyframes animate-svg-fill-11 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-11 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elem-11 {
                -webkit-animation: animate-svg-fill-11 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
                animation: animate-svg-fill-11 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
            }

            @-webkit-keyframes animate-svg-fill-12 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-12 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elem-12 {
                -webkit-animation: animate-svg-fill-12 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
                animation: animate-svg-fill-12 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
            }

            @-webkit-keyframes animate-svg-fill-13 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-13 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-13 {
                -webkit-animation: animate-svg-fill-13 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
                animation: animate-svg-fill-13 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
            }

            @-webkit-keyframes animate-svg-fill-14 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-14 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-14 {
                -webkit-animation: animate-svg-fill-14 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
                animation: animate-svg-fill-14 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
            }

            @-webkit-keyframes animate-svg-fill-15 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-15 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-15 {
                -webkit-animation: animate-svg-fill-15 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
                animation: animate-svg-fill-15 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
            }

            @-webkit-keyframes animate-svg-fill-16 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-16 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-16 {
                -webkit-animation: animate-svg-fill-16 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
                animation: animate-svg-fill-16 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
            }

            @-webkit-keyframes animate-svg-fill-17 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-17 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-17 {
                -webkit-animation: animate-svg-fill-17 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s both;
                animation: animate-svg-fill-17 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s both;
            }

            @-webkit-keyframes animate-svg-fill-18 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-18 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-18 {
                -webkit-animation: animate-svg-fill-18 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
                animation: animate-svg-fill-18 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
            }

            @-webkit-keyframes animate-svg-fill-19 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-19 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-19 {
                -webkit-animation: animate-svg-fill-19 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
                animation: animate-svg-fill-19 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
            }

            @-webkit-keyframes animate-svg-fill-20 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-20 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-20 {
                -webkit-animation: animate-svg-fill-20 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
                animation: animate-svg-fill-20 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
            }

            @-webkit-keyframes animate-svg-fill-21 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-21 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-21 {
                -webkit-animation: animate-svg-fill-21 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s both;
                animation: animate-svg-fill-21 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s both;
            }

            @-webkit-keyframes animate-svg-fill-22 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-22 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-22 {
                -webkit-animation: animate-svg-fill-22 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s both;
                animation: animate-svg-fill-22 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s both;
            }

            @-webkit-keyframes animate-svg-fill-23 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-23 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-23 {
                -webkit-animation: animate-svg-fill-23 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3s both;
                animation: animate-svg-fill-23 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3s both;
            }

            @-webkit-keyframes animate-svg-fill-24 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-24 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-24 {
                -webkit-animation: animate-svg-fill-24 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s both;
                animation: animate-svg-fill-24 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s both;
            }

            @-webkit-keyframes animate-svg-fill-25 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-25 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elem-25 {
                -webkit-animation: animate-svg-fill-25 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s both;
                animation: animate-svg-fill-25 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s both;
            }
        }
    }
    @media (max-width: 851px) {
        .pc {
            display: none;
        }
        .sp {
            width: calc(100vw - 80%);
            .svg-elements-1 {
                -webkit-animation: animate-svg-fill-1 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
                animation: animate-svg-fill-1 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
            }

            @-webkit-keyframes animate-svg-fill-2 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-2 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-2 {
                -webkit-animation: animate-svg-fill-2 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
                animation: animate-svg-fill-2 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
            }

            @-webkit-keyframes animate-svg-fill-3 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-3 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-3 {
                -webkit-animation: animate-svg-fill-3 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
                animation: animate-svg-fill-3 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
            }

            @-webkit-keyframes animate-svg-fill-4 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-4 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-4 {
                -webkit-animation: animate-svg-fill-4 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
                animation: animate-svg-fill-4 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
            }

            @-webkit-keyframes animate-svg-fill-5 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-5 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-5 {
                -webkit-animation: animate-svg-fill-5 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
                animation: animate-svg-fill-5 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
            }

            @-webkit-keyframes animate-svg-fill-6 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-6 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-6 {
                -webkit-animation: animate-svg-fill-6 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
                animation: animate-svg-fill-6 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
            }

            @-webkit-keyframes animate-svg-fill-7 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-7 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elements-7 {
                -webkit-animation: animate-svg-fill-7 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
                animation: animate-svg-fill-7 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
            }

            @-webkit-keyframes animate-svg-fill-8 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-8 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elements-8 {
                -webkit-animation: animate-svg-fill-8 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
                animation: animate-svg-fill-8 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
            }

            @-webkit-keyframes animate-svg-fill-9 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-9 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-9 {
                -webkit-animation: animate-svg-fill-9 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
                animation: animate-svg-fill-9 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
            }

            @-webkit-keyframes animate-svg-fill-10 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-10 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-10 {
                -webkit-animation: animate-svg-fill-10 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
                animation: animate-svg-fill-10 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
            }

            @-webkit-keyframes animate-svg-fill-11 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-11 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elements-11 {
                -webkit-animation: animate-svg-fill-11 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
                animation: animate-svg-fill-11 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
            }

            @-webkit-keyframes animate-svg-fill-12 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            @keyframes animate-svg-fill-12 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(237, 142, 160);
                }
            }

            .svg-elements-12 {
                -webkit-animation: animate-svg-fill-12 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
                animation: animate-svg-fill-12 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
            }

            @-webkit-keyframes animate-svg-fill-13 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-13 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-13 {
                -webkit-animation: animate-svg-fill-13 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
                animation: animate-svg-fill-13 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
            }

            @-webkit-keyframes animate-svg-fill-14 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-14 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-14 {
                -webkit-animation: animate-svg-fill-14 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
                animation: animate-svg-fill-14 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
            }

            @-webkit-keyframes animate-svg-fill-15 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-15 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-15 {
                -webkit-animation: animate-svg-fill-15 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
                animation: animate-svg-fill-15 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
            }

            @-webkit-keyframes animate-svg-fill-16 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-16 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-16 {
                -webkit-animation: animate-svg-fill-16 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
                animation: animate-svg-fill-16 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
            }

            @-webkit-keyframes animate-svg-fill-17 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-17 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-17 {
                -webkit-animation: animate-svg-fill-17 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s both;
                animation: animate-svg-fill-17 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s both;
            }

            @-webkit-keyframes animate-svg-fill-18 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-18 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-18 {
                -webkit-animation: animate-svg-fill-18 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
                animation: animate-svg-fill-18 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
            }

            @-webkit-keyframes animate-svg-fill-19 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-19 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-19 {
                -webkit-animation: animate-svg-fill-19 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
                animation: animate-svg-fill-19 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
            }

            @-webkit-keyframes animate-svg-fill-20 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-20 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-20 {
                -webkit-animation: animate-svg-fill-20 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
                animation: animate-svg-fill-20 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
            }

            @-webkit-keyframes animate-svg-fill-21 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-21 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-21 {
                -webkit-animation: animate-svg-fill-21 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s both;
                animation: animate-svg-fill-21 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s both;
            }

            @-webkit-keyframes animate-svg-fill-22 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-22 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-22 {
                -webkit-animation: animate-svg-fill-22 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s both;
                animation: animate-svg-fill-22 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s both;
            }

            @-webkit-keyframes animate-svg-fill-23 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-23 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-23 {
                -webkit-animation: animate-svg-fill-23 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3s both;
                animation: animate-svg-fill-23 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3s both;
            }

            @-webkit-keyframes animate-svg-fill-24 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-24 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-24 {
                -webkit-animation: animate-svg-fill-24 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s both;
                animation: animate-svg-fill-24 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s both;
            }

            @-webkit-keyframes animate-svg-fill-25 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            @keyframes animate-svg-fill-25 {
                0% {
                    fill: transparent;
                }

                100% {
                    fill: rgb(87, 75, 70);
                }
            }

            .svg-elements-25 {
                -webkit-animation: animate-svg-fill-25 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s both;
                animation: animate-svg-fill-25 0.7s
                    cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s both;
            }
        }
    }
</style>
