---
import Carousel from "../components/Carousel.astro";
---

<div class="main-content">
    <div class="column-left">
        <article id="about">
            <div class="plan">
                <p>
                    文部科学省 令和5年度 大学教育再生戦略推進費<br />
                     「次世代のがんプロフェッショナル養成プラン」採択プログラム
                </p>
                <h2>
                    東北広域<br />次世代<br />がんプロ<br />養成プラン
                </h2>
                <h3>事業概要</h3>
                <p>
                    青森県は若年層を含めたがん死亡率が最も高い地域であり、同時に広域な面積に対して医療資源が不足している地域である。さらに日本が抱える大きな問題である人口減・少子高齢化が、全国トップで進んでおり、その中でがん医療の諸問題を解決するためには、単なる専門医療職の育成のみでは限界がある。育成された専門医療職が地域全体のネットワークの中で、自らが有機的につながりを広げて活躍することが求められている。本事業の特徴は、顕在化している課題に取り組む各種専門医療資格取得のための学習と同時に、教育技法そのものを学び、そして実際のネットワーク作りに参加してその構築方法も学習するところにある。本事業の目的は、コース履修後に地域がん教育の拡散と地域医療ネットワーク構築を担う一員として、地域住民とがん患者家族の視点を持って、予防から終末期医療までの全過程におけるがん医療の諸問題の解決にあたる人材を育成することにある。
                </p>
            </div>
            <div class="person">
                <h3>養成する人材</h3>
                <p>
                    県内においては、放射線治療医、核医学治療医および病理診断医の不在から、がん関連の拠点病院等の条件を満たせない背景がある。これより、それぞれの分野における次世代専門医育成のコースを作る。また、緩和医療の教育体制が充実されてきた一方で、終末期医療に関わる医療人材の連携に課題が残る。また、がん関連学際領域についての学習の場が限られている。これらに対し、限られた医療資源において患者視点でより具体的な医療連携を構築する技能から習得し、またがん関連の学際領域を学習できる。
                </p>
            </div>
        </article>
    </div>
    <div class="column-right">
        <article>
            <div class="event">
                <h2>講座・イベント</h2>
                <Carousel />
            </div>
        </article>
        <article>
            <div class="cource">
                <h2>養成コース</h2>
                <div>
                    <a href="/cource/cource-1">次世代リーダー</a>
                    <a href="/cource/cource-2">次世代病理診断医</a>
                    <a href="/cource/cource-3">次世代放射線治療医</a>
                </div>
            </div>
        </article>
        <article id="partner">
            <div class="partner">
                <h2>連携大学</h2>
                <ul>
                    <li>
                        <a
                            href="http://www.ganpro.med.tohoku.ac.jp/index.html"
                            target="_blank">東北大学</a
                        >
                    </li>
                    <li>
                        <a
                            href="http://www.med.akita-u.ac.jp/~ganpro29/"
                            target="_blank">秋田大学</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.id.yamagata-u.ac.jp/ganpro/"
                            target="_blank">山形大学</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.fmu.ac.jp/byoin/25syuyocenter/08professional/index.html"
                            target="_blank">福島県立医科大学</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.med.niigata-u.ac.jp/gan/"
                            target="_blank">新潟大学</a
                        >
                    </li>
                </ul>
            </div>
        </article>
        <article>
            <div class="relevance">
                <h2>弘前大学関連</h2>
                <div class="related">
                    <div>
                        <a
                            href="http://www.med.hirosaki-u.ac.jp/~oncology/"
                            target="_blank"
                        >
                            <img
                                src="/images/face-right.svg"
                                alt="腫瘍内科学講座"
                            />
                            <p>腫瘍内科学講座</p>
                        </a>
                    </div>
                    <div>
                        <a
                            href="http://www.med.hirosaki-u.ac.jp/~anatopathol/"
                            target="_blank"
                        >
                            <img
                                src="/images/face-center_smallSmile.svg"
                                alt="病理診断学講座"
                            />
                            <p>病理診断学講座</p>
                        </a>
                    </div>
                    <div>
                        <a
                            href="http://www.med.hirosaki-u.ac.jp/~radio/"
                            target="_blank"
                        >
                            <img
                                src="/images/face-center_smile.svg"
                                alt="放射線腫瘍学講座、放射線診断学講座"
                            />
                            <p>放射線腫瘍学講座<br />放射線診断学講座</p>
                        </a>
                    </div>
                    <div>
                        <a
                            href="https://www.med.hirosaki-u.ac.jp/~cancer-c/index.html"
                            target="_blank"
                        >
                            <img
                                src="/images/face-left.svg"
                                alt="医学部附属病院腫瘍センター"
                            />
                            <p>医学部附属病院<br />腫瘍センター</p>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="program">
                <img src="/images/logo.svg" alt="" />
                <p>
                    文部科学省 令和5年度 大学教育再生戦略推進費<br />
                     「次世代のがんプロフェッショナル養成プラン」採択プログラム
                </p>
                <p>東北広域次世代がんプロ養成プラン</p>
            </div>
        </article>
        <article>
            <div class="address">
                <div>
                    <img src="/images/logo-univ.svg" alt="弘前大学ロゴ" />
                    <h3>弘前大学 大学院 医学研究科</h3>
                </div>
                <address>
                    <p>〒036-8562 青森県弘前市在府町5番地</p>
                    <p>TEL：0172-39-5410</p>
                    <p>FAX：0172-39-5209</p>
                    <a href="mailto:ganpro@hirosaki-u.ac.jp"
                        >メール：ganpro@hirosaki-u.ac.jp</a
                    >
                </address>
            </div>
        </article>
    </div>
</div>
<style lang="scss">
    .main-content {
        display: flex;
        flex-flow: row wrap;
        gap: 4%;
        padding: 3.12% 6.25% 7.71875%;
        max-width: 1280px;
        margin: 0 auto;
    }
    // グローバル設定
    h2 {
        font-size: 32px;
        text-align: center;
    }

    // 左カラム
    .column-left {
        width: 28%;
        // 左カラムコンテンツの幅
        article {
            width: 100%;
        }
        // 1279px以下でbrタグを非表示
        @media (max-width: 1279px) {
            br {
                display: none;
            }
            br:nth-of-type(2) {
                display: block;
            }
        }
    }

    // 右カラム
    .column-right {
        width: 68%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 6%;
    }

    @media (max-width: 1279px) {
        .column-left {
            width: 100%;
        }
        .column-right {
            width: 100%;
            gap: 5%;
            article {
                width: 45%;
            }
            @media (max-width: 767px) {
                article {
                    width: 100%;
                }
            }
        }
    }

    // article全体の設定
    article {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 300px;
        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 24px;
        }
        h2 {
            color: var(--secondary-color);
            font-weight: 300;
        }
        h3 {
            font-weight: 500;
        }
        @media (max-width: 375px) {
            margin-top: 40px;
        }
    }

    article:nth-of-type(2) {
        align-self: flex-start;
    }

    // article左「次世代のがんプロフェッショナル養成プラン」採択プログラム
    .plan {
        p:nth-of-type(1) {
            font-size: 10px;
            margin-bottom: 24px;
            @media (max-width: 1279px) {
                font-size: 16px;
                text-align: center;
            }
        }
        h2 {
            font-size: 48px;
            line-height: 1.2;
            margin-bottom: 96px;
            font-weight: 300;
            letter-spacing: 10px;
            text-align: justify;
            @media (max-width: 1279px) {
                font-size: clamp(2.25rem, 0.902rem + 5.75vw, 5.5rem);
                letter-spacing: 0;
                text-align: center;
            }
        }
        h3 {
            text-align: center;
            letter-spacing: 20px;
            margin-bottom: 30px;
        }
        p:nth-of-type(2) {
            height: 300px;
            overflow: scroll;
            line-height: 1.8;
            @media (max-width: 1279px) {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            @media (max-width: 375px) {
                width: 100%;
            }
        }
    }

    // article左「養成する人材」
    .person {
        h3 {
            text-align: center;
            letter-spacing: 20px;
            margin-top: 60px;
            margin-bottom: 30px;
        }
        p {
            height: 200px;
            overflow: scroll;
            line-height: 1.8;
            @media (max-width: 1279px) {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            @media (max-width: 375px) {
                width: 100%;
            }
        }
    }

    // 講座・イベント
    .event {
        h2 {
            font-size: 32px;
            text-align: center;
            margin-bottom: 24px;
        }
    }

    // 連携大学
    #partner {
        align-self: center;
    }
    .partner {
        a {
            text-decoration: none;
            &:hover {
                color: var(--secondary-color);
                transition: all 0.3s ease;
            }
        }
        ul {
            font-size: 14px;
            max-width: 100%;
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 25px auto;
            row-gap: 8px;
            li {
                flex: 1 1 auto;
                width: 50%;
            }
            li:before {
                content: "";
                width: 1em;
                height: 1em;
                background-image: url("/images/list-style.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }

    // article中の下段「次世代のがんプロフェッショナル養成プラン」採択プログラム
    .program {
        @media (max-width: 375px) {
            img {
                width: 80%;
                margin: 0 auto;
            }
        }
        p:nth-of-type(1) {
            margin: 14px 0 10px;
            font-size: 12px;
        }
        p:nth-of-type(2) {
            font-size: 21px;
            @media (max-width: 375px) {
                font-size: 16px;
                text-align: center;
            }
            font-weight: 500;
        }
    }

    // 養成コース
    .cource {
        display: flex;
        flex-direction: column;
        h2 {
            text-align: center;
            margin-bottom: 24px;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: var(--secondary-color);
            border-radius: 10px;
            color: #fff;
            width: 100%;
            padding: 25px;
            @media (max-width: 375px) {
                width: 60%;
                margin: 0 auto;
                padding: 16px;
            }

            font-size: clamp(1rem, 0.689rem + 1.33vw, 1.75rem);
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    // 弘前大学関連
    .relevance {
        h2 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 14px;
        }
        // 講座一覧
        .related {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            a {
                text-decoration: none;
                &:hover {
                    color: var(--secondary-color);
                    transition: all 0.3s ease;
                }
            }
            div {
                flex-basis: 50%;
                margin-bottom: 20px;
                img {
                    height: 100px;
                    margin: 0 auto;
                    @media (max-width: 375px) {
                        width: 30%;
                        height: auto;
                    }
                }
            }
            p {
                margin-top: 8px;
                font-weight: 500;
            }
        }
    }

    // 基本情報
    .address {
        div {
            margin: 16px 0;
            display: flex;
            align-items: center;
        }
        img {
            width: 40px;
            margin-right: 8px;
        }
        a {
            text-decoration: none;
        }
    }
</style>
