<a href="/">
    <img src="/images/univ-logo.png" alt="" class="logo" />
    <p class="sub">
        文部科学省「次世代のがんプロフェッショナル養成プラン」採択プログラム<br
        />東北広域次世代がんプロ養成プラン
    </p>
</a>
<ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="/about">がんプロについて</a></li>
    <li><a href="/greeting">ごあいさつ</a></li>
    <li><a href="/events">講座・イベント</a></li>
    <li><a href="/cource">養成コース</a></li>
    <li><a href="#partner">連携大学</a></li>
    <li><a href="/contact">お問い合わせ</a></li>
</ul>
<a href="/e-learning" class="login">ログイン</a>
<style lang="scss">
    a {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
        position: relative;
        overflow: hidden;
        &:hover {
            color: var(--secondary-color);
            transition: all 0.3s ease;
        }
    }
    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        a {
            text-decoration: none;
            color: inherit;
            padding: 1rem;
            position: relative;
            overflow: hidden;
            &:hover {
                color: var(--secondary-color);
                transition: all 0.3s ease;
            }
        }
    }
    @media (max-width: 1279px) {
        ul {
            display: none;
        }
    }
    .login {
        margin: 14px 0;
        padding: 1rem;
        @media (max-width: 1279px) {
            font-size: clamp(0.375rem, 0.208rem + 0.83vw, 0.875rem);
        }
    }
    @media (max-width: 866px) {
        .login {
            margin: 7px;
            padding: 0.5rem;
        }
    }
    span {
        color: var(--secondary-color);
    }
    a {
        display: flex;
        text-decoration: none;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    img {
        width: 10rem;
        margin-right: 1rem;
    }
    @media (max-width: 1279px) {
        img {
            width: 5rem;
        }
        h1 {
            font-size: 1rem;
        }
    }
    .spacer {
        width: 100%;
    }
    .logo {
        width: clamp(1.2rem, 0.84rem + 1.8vw, 3rem) !important;
    }
    .sub {
        margin-right: 24px;
        font-size: clamp(0.375rem, 0.25rem + 0.63vw, 1rem);
        @media (max-width: 1429px) {
            font-size: 8px;
        }
        @media (max-width: 1279px) {
            font-size: clamp(0.375rem, 0.208rem + 0.83vw, 0.875rem);
        }
        @media (max-width: 819px) {
            margin-right: 0;
        }
    }
    .ganpro-logo {
        @media (max-width: 819px) {
            display: none;
        }
    }
</style>
