<a href="/">
    <img src="/public/images/logo.svg" alt="がんプロ" />
    <h1>弘前大学<span>がん</span>プロ</h1>
</a>
<ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="/#about">がんプロについて</a></li>
    <li><a href="/greeting">ごあいさつ</a></li>
    <li><a href="/event">講座・イベント</a></li>
    <li><a href="/cource">養成コース</a></li>
    <li><a href="/#partner">連携大学</a></li>
    <li><a href="/contact">お問い合わせ</a></li>
</ul>
<a href="" class="login">ログイン</a>
<style lang="scss">
    ul {
        display: flex;
        list-style-type: none;
        a {
            text-decoration: none;
            color: inherit;
            padding: 1rem;
            position: relative;
            overflow: hidden;
            &:hover {
                color: var(--secondary-color);
                // 左から右へトランジション
                transition: 0.3s;
            }
        }
    }
    @media (max-width: 1279px) {
        ul {
            display: none;
        }
    }
    .login {
        margin: 14px 0;
        padding: 1rem;
    }
    @media (max-width: 866px) {
        .login {
            margin: 7px;
            padding: 0.5rem;
        }
    }
    span {
        color: var(--secondary-color);
    }
    a {
        display: flex;
        text-decoration: none;
        justify-content: flex-start;
        align-items: center;
    }
    img {
        width: 10rem;
        margin-right: 1rem;
    }
    @media (max-width: 1279px) {
        img {
            width: 5rem;
        }
        h1 {
            font-size: 1rem;
        }
    }
</style>
