<a href="/">
    <img src="/images/logo.svg" alt="がんプロ" />
    <div>
        <h1>弘前大学<span>がん</span>プロ</h1>
        <p class="sub">東北広域次世代がんプロ養成プラン</p>
    </div>
</a>
<ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="#about">がんプロについて</a></li>
    <li><a href="/greeting">ごあいさつ</a></li>
    <li><a href="/events">講座・イベント</a></li>
    <li><a href="/cource">養成コース</a></li>
    <li><a href="#partner">連携大学</a></li>
    <li><a href="/contact">お問い合わせ</a></li>
</ul>
<a href="/e-learning" class="login">ログイン</a>
<style lang="scss">
    a {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
        position: relative;
        overflow: hidden;
        &:hover {
            color: var(--secondary-color);
            transition: all 0.3s ease;
        }
    }
    ul {
        display: flex;
        list-style-type: none;
        a {
            text-decoration: none;
            color: inherit;
            padding: 1rem;
            position: relative;
            overflow: hidden;
            &:hover {
                color: var(--secondary-color);
                transition: all 0.3s ease;
            }
        }
    }
    @media (max-width: 1279px) {
        ul {
            display: none;
        }
    }
    .login {
        margin: 14px 0;
        padding: 1rem;
    }
    @media (max-width: 866px) {
        .login {
            margin: 7px;
            padding: 0.5rem;
        }
    }
    span {
        color: var(--secondary-color);
    }
    a {
        display: flex;
        text-decoration: none;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    img {
        width: 10rem;
        margin-right: 1rem;
    }
    @media (max-width: 1279px) {
        img {
            width: 5rem;
        }
        h1 {
            font-size: 1rem;
        }
    }
    .spacer {
        width: 100%;
    }
    .sub {
        margin-top: 4px;
        font-size: 10px;
        text-align: justify;
        text-justify: inter-character;
    }
</style>
