---
import Layout from "../../layouts/Layout.astro";
import Icons from "../../components/Icons.astro";
import BreadCrumb from "../../components/BreadCrumb.astro";
import MainContent from "../../components/MainContent.astro";
---

<Layout title="養成コース | 地域がん医療次世代放射線治療医育成コース">
    <main>
        <BreadCrumb />
        <div class="bg-primary cource-wrapper">
            <div class="cource-desc">
                <h2>
                    地域がん医療<br />次世代放射線治療医育成コース<br />履修項目
                </h2>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-title">
                            <h3>修了要件・履修方法</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    所定科目30単位以上の履修と実習を修了し、かつ学位論文を作成した上で、学位審査および最終試験に合格すること。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>履修科目等</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <ul>
                                    <li>
                                        <p>必修科目</p>
                                        <p>
                                            基礎科目6単位、学際科目4単位、所属研究分野の専門科目（地域医療診療実習、キャンサーボード実習・多職種カンファレンス実習・がんゲノムパネル検査実習・演習他）16単位
                                        </p>
                                    </li>
                                    <li>
                                        <p>選択必修科目</p>
                                        <p>
                                            腫瘍関連学際領域特論、次世代腫瘍予防学特論、臨床腫瘍研究開発学特論から2単位
                                        </p>
                                    </li>
                                    <li>
                                        <p>選択科目</p>
                                        <p>
                                            臓器別がん治療、放射線基礎、外科病理診断学基礎、緩和基礎、成人教育論他から4単位
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>がんに関する専門資格との連携</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    がん薬物療法専門医（日本臨床腫瘍学会）、乳癌専門医（日本乳癌学会）、婦人科腫瘍専門医(日本婦人科腫瘍学会）、緩和医療認定医（日本緩和医療学会）、がん治療認定医（日本がん治療認定医機構）等の研修施設として認定。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>教育内容の特色等</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    医療資源が不足する青森県におけるがん医療が抱える問題を解決するためには、がんに関わるすべての医療従事者の連携システムの構築と教育、そしてすべての世代の地域住民に対する教育が必要となる。本コースでは、これらの問題解決に将来の指導者として資質のある人材を育成する。予防医学から始まり、すべての病期のがんに対する外科手術、放射線治療、薬物療法、緩和医療までの全般的な知識を学ぶ。そして、地域のリソース、需要を調査研究して、学んだ知識を実際に地域社会に還元する研修を行う。がん教育の教育技法を演習に取り入れ、行政との連携を図る。さらに、連携大学間の共有講義、演習実習受け入れ等も有効に活用できる教育体制の整備を行う。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>指導体制</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    大学院の腫瘍制御科学領域の腫瘍内科分野が教育プログラムの主体となり、各教育研究分野の指導者が協働して担当に加わる。連携大学および、地域の関連医療機関・教育機関において、地域がん医療実習を行う。また、医師以外のメディカルスタッフ関連団体や行政と連携して教育体制を整備する。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>修了者の進路・キャリアパス</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    幅広いネットワークを持ち、様々ながん医療従事者と共に将来の地域がん医療を構築できるリーダーを目指す。<br
                                    />
                                     専門医としては、がん薬物療法専門医、がん治療認定医(日本がん治療認定医機構)、緩和医療学会認定医・専門医他、各がん種の専門医の取得を目指す。さらに専門指導医を目指す。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>受入開始時期</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>令和6年4月</p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-2">
                        <div class="card-title">
                            <h3>受入目標人数</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>※当該年度に「新たに」入学する人数を記載。</p>
                                <p>※新規に設置したコースに限る。</p>
                                <table>
                                    <tr>
                                        <th>R5年度</th>
                                        <th>R6年度</th>
                                        <th>R7年度</th>
                                        <th>R8年度</th>
                                        <th>R9年度</th>
                                        <th>R10年度</th>
                                        <th>計</th>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>15</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-primary repaet-image">
            <MainContent />
        </div>
    </main>
    <Icons />
</Layout>

<style lang="scss">
    .cource-desc {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6.12%;
        h2 {
            font-size: clamp(2rem, 1.171rem + 3.54vw, 4rem);
            font-weight: 300;
            text-align: center;
            color: var(--secondary-color);
            margin-bottom: 2%;
        }
        .card-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3%;
            width: 100%;
            @media (max-width: 768px) {
                flex-direction: row;
                gap: 2%;
            }
            .card {
                background-color: #fff;
                border-radius: 10px;
                flex: 1 1 300px;
                font-size: 14px;
                .card-title {
                    background-color: var(--secondary-color);
                    color: #fff;
                    justify-content: center;
                    padding: 20px;
                    border-radius: 10px 10px 0 0;
                }
                .card-desc {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                    }
                    ul {
                        list-style-type: none;
                        padding: 0;
                        li {
                            margin-bottom: 16px;
                            p:nth-of-type(1) {
                                font-weight: 500;
                            }
                        }
                    }
                    table {
                        margin-top: 16px;
                        border: solid 1px var(--font-color);
                        th,
                        td {
                            text-align: center;
                            border: solid 1px var(--font-color);
                        }
                    }
                }
                a {
                    text-decoration: none;
                }
                img {
                    margin-bottom: 20px;
                }
                div {
                    display: flex;
                    row-gap: 16px;
                }
                @media (max-width: 768px) {
                    width: 48%;
                }
            }
            .col-2 {
                flex: 63% 1;
            }
        }
    }
</style>
