---
import Layout from "../../layouts/Layout.astro";
import Icons from "../../components/Icons.astro";
import BreadCrumb from "../../components/BreadCrumb.astro";
import MainContent from "../../components/MainContent.astro";
---

<Layout title="養成コース | 地域がん医療を推進する次世代放射線治療医育成コース">
    <main>
        <BreadCrumb />
        <div class="bg-primary cource-wrapper">
            <div class="cource-desc">
                <h2>
                    地域がん医療を推進する<br />次世代放射線治療医育成コース<br
                    />履修項目
                </h2>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-title">
                            <h3>養成すべき人材像</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    がん医療の現場において、緩和的放射線治療から高精度放射線治療さらに核医学治療や小線源治療も含めた質の高い専門医療を個々の患者さんの病態に応じて提供することができ、かつ地域がん診療拠点病院において中心的役割を担うことができる医師
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>修了要件・履修方法</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    所定科目合計30単位以上の履修と実習を修了し、かつ学位論文を作成した上で、学位審査および最終試験に合格すること。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>履修科目等</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <ul>
                                    <li>
                                        <p>必修科目</p>
                                        <p>
                                            基礎科目6単位、学際科目4単位、所属研究分野の専門科目（地域医療診療実習、キャンサーボード実習・多職種カンファレンス実習・がんゲノムパネル検査実習・演習他）16単位
                                        </p>
                                    </li>
                                    <li>
                                        <p>選択必修科目</p>
                                        <p>
                                            腫瘍関連学際領域特論、次世代腫瘍予防学特論、臨床腫瘍研究開発学特論から2単位
                                        </p>
                                    </li>
                                    <li>
                                        <p>選択科目</p>
                                        <p>
                                            臓器別がん治療、放射線基礎、外科病理診断学基礎、緩和基礎、成人教育論他から4単位
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>がんに関する専門資格との連携</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    放射線科専門医（日本医学放射線学会）、放射線治療専門医（日本放射線腫瘍学会・日本医学放射線学会・日本専門医機構）の基幹研修施設として認定。がん治療認定医（日本がん治療認定医機構）の研修施設として認定。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>教育内容の特色等</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    がん医療に係る人材不足によりがん診療連携拠点病院の指定変更を余儀なくされる青森県の諸課題を解決するためには、地域に定着する放射線治療医の育成が急務である。当施設では高エネルギーX線による高精度放射線治療を始め、密封小線源、核医学治療、がん温熱療法など、粒子線治療以外のすべての医療資源を備えており、粒子線治療については他施設と連携して教育・研修ができる体制にある。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>指導体制</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    大学院の腫瘍制御科学領域の放射線腫瘍学分野が教育プログラムの主体となり、各教育研究分野の指導者が協働して担当に加わる。連携大学および、地域の関連医療機関・教育機関において、地域がん医療実習を行う。また、医師以外のメディカルスタッフ関連団体や行政と連携して教育体制を整備する。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>修了者の進路・キャリアパス</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    放射線科専門医、放射線治療専門医を取得し、がん治療認定医および日本医学放射線学会研修指導者を目指す。様々ながん医療従事者と協力し地域のがん医療の現場を担うことができる放射線治療医となる。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>受入開始時期</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>令和6年4月</p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-2">
                        <div class="card-title">
                            <h3>受入目標人数</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>※当該年度に「新たに」入学する人数を記載。</p>
                                <p>※新規に設置したコースに限る。</p>
                                <table>
                                    <tr>
                                        <th>R5年度</th>
                                        <th>R6年度</th>
                                        <th>R7年度</th>
                                        <th>R8年度</th>
                                        <th>R9年度</th>
                                        <th>R10年度</th>
                                        <th>計</th>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>5</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h3>受入目標人数設定の考え方・根拠</h3>
                        </div>
                        <div class="card-desc">
                            <div>
                                <p>
                                    青森県内の3つのがん拠点病院に放射線治療専門医を最低4人ずつ配置することを目標にすると、青森県内の放射線治療専門医数が8人のため今後5年間で4人養成する。また、過去の大学院志願者数及び入学ニーズ調査から毎年度1人の志願者が見込まれるため、受入れ目標人数を5人と設定。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="look">
                    <a href="/cource">養成コース一覧へ</a>
                </div>
            </div>
        </div>
        <div class="bg-primary repaet-image">
            <MainContent />
        </div>
    </main>
    <Icons />
</Layout>
<style lang="scss">
    .look {
        display: flex;
        justify-content: center;
        padding: 2rem;
        a {
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: 500;
            text-decoration: none;
            background-color: var(--font-color);
            color: #fff;
        }
    }
    .cource-desc {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6.12%;
        h2 {
            font-size: clamp(2rem, 1.171rem + 3.54vw, 4rem);
            font-weight: 300;
            text-align: center;
            color: var(--secondary-color);
            margin-bottom: 2%;
        }
        .card-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1%;
            width: 100%;
            @media (max-width: 768px) {
                flex-direction: row;
                gap: 2%;
            }
            .card {
                background-color: #fff;
                border-radius: 10px;
                flex: 1 1 300px;
                font-size: 14px;
                margin-bottom: 20px;
                .card-title {
                    background-color: var(--secondary-color);
                    color: #fff;
                    justify-content: center;
                    padding: 20px;
                    border-radius: 10px 10px 0 0;
                }
                .card-desc {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                    }
                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin-top: 0;
                        li {
                            margin-bottom: 16px;
                            p:nth-of-type(1) {
                                font-weight: 500;
                            }
                        }
                    }
                    ol {
                        padding-left: 1em;
                    }
                    table {
                        margin-top: 16px;
                        border: solid 1px var(--font-color);
                        th,
                        td {
                            text-align: center;
                            border: solid 1px var(--font-color);
                        }
                    }
                }
                a {
                    text-decoration: none;
                }
                img {
                    margin-bottom: 20px;
                }
                div {
                    display: flex;
                    row-gap: 16px;
                }
                @media (max-width: 768px) {
                    width: 48%;
                }
            }
            .col-2 {
                flex: 63% 1;
            }
        }
    }
</style>
